[2016-07-23 08:49] xorgxx commented on #1686
....

[2016-07-23 08:49] #1686 closed

[2016-07-24 18:08] TarAll opened #2178 "Delete some attributes from user and log in via email only"
i'm trying to delete some attributes but failed to do that.I want also to log in via email only and delete username attribute

[2016-07-25 15:09] darkenergy66 commented on #1017
Did you resolve this issue @xub? - I have exactly the same problem

[2016-07-26 07:27] shahroznawaz opened #2179 "FOSUserBundle is not Installing on symfony 3.1"
FOSUserBundle is not installing on Symfony 3.1. Is there any compatibility issues?

[2016-07-26 07:32] stof commented on #2179
You have to use the master branch for that for now. 1.3.x is not compatible with Symfony 3

[2016-07-26 07:33] Athov commented on #2178
As far as i have read you can't remove username.
I don't know if this is good or bad but after hours of reading and searching i found that you can do
`<?php

namespace AppBundle\Form;

use Symfony\Component\Form\AbstractType;
use Symfony\Component\Form\FormBuilderInterface;
use Symfony\Component\Form\FormEvents;
use Symfony\Component\Form\FormEvent;

class RegistrationType extends AbstractType
{

[2016-07-26 07:34] shahroznawaz commented on #2179
Hey @stof  I am using 2.0 master branch but every time it's given me proc_open() error and i have a fresh server in use.

[2016-07-26 17:45] dmaicher commented on #2170
And what exactly is the Exception? Stacktrace?

[2016-07-26 17:53] dmaicher commented on #2162
You could create a custom Doctrine type (http://doctrine-orm.readthedocs.io/projects/doctrine-orm/en/latest/cookbook/custom-mapping-types.html) that handles the implode/explode with the pipe separator. You then have to overwrite the default `$roles` doctrine mapping (for example with annotations in your User class and use your new type:

[code]

Or obviously if you can change the database structur

[2016-07-26 19:37] larzuk91 opened #2181 "TwigSwiftMailer class ambiguous phpdocs"
In the method "sendMessage" from TwigSwiftMailer class, the parameter $fromEmail has a wrong phpdoc, it's documented as an string, but actually it is an associative array

I know this is a minor issue but I hope it can help anyone who is figuring out how the "fromName" is been set

[2016-07-27 02:33] Athov commented on #2139
See if formevents can help you it helped me

[2016-07-27 06:54] xabbuh commented on #2179
@shahroznawaz Please show the exact error message you get.

[2016-07-27 07:17] stof commented on #2170
It looks like you are using the console shell. Please don't do it. This make all commands run in the same PHP process, meaning they are impacted by previous commands (this is the reason why the shell has been removed in Symfony 3)

[2016-07-27 10:29] shahroznawaz commented on #2179
I have installed symfony 3.1 on cloud server and tried again to install FOSUserBundle but it's giving me an error plz see below.
Composer command:
![image](https://cloud.githubusercontent.com/assets/14107436/17172444/99fe3af6-540e-11e6-907f-8ee324eb4e15.png)

Error:
![image](https://cloud.githubusercontent.com/assets/14107436/17172498/d317f71e-540e-11e6-8c1e-f63e8f9aeb94.png)

[2016-07-27 14:28] 1ed commented on #2179
This nothing to do with this bundle. As the error message says composer runs out of memory and a solution is provided in the message as well https://getcomposer.org/doc/articles/troubleshooting.md#proc-open-fork-failed-errors

[2016-07-27 15:00] shahroznawaz commented on #2179
Yes I know it but I have a fresh server. I tried twice to install it but no luck.

[2016-07-27 15:15] stof commented on #2179
Still, this is not something related to FOSUserBundle at all. It is an issue when running Composer. So asking for support here won't give you any more help (and the solution is clear anyway: give more memory to your server)

[2016-07-28 09:27] d-kofler commented on #2156
Hey, I had the same problem. Adding

`public function loginCheckAction(Request $request){}`

to SecurityController.php solved the problem for me.

[2016-07-28 19:59] roberteikermann opened #2182 "Username size not suitable for default setting"
Symfony recommends utf8mb4 for mysql, the default max length of username and email exceeds the allowed size (in bytes) for keys and indexes in innodb. On `bin/console doctrine:schema:update --force` the errors: `General error: 1709 Index column size too large. The maximum column size is 767 bytes`. and
`General error: 1709 Index column size too large. The maximum column size is 767 bytes.` are thr

[2016-07-29 20:16] tuxayo commented on #2067
@danielkay It's much harder to find maintainers than contributors. It's a kind of tragedy of the commons.

[2016-08-01 05:43] mkumr opened #2184 "1.3x: routing/all.xml missing"
There is no routing/all.xml file in there

[2016-08-02 14:43] Koalabaerchen commented on #2184
It was added in 2.0/dev-master

You might have followed the wrong documentation. See https://symfony.com/doc/1.3.x/bundles/FOSUserBundle/index.html

[2016-08-03 04:46] urmaul opened #2186 "Documentation for 1.2.x is missing"
There's no link for for 1.2.x documentation on https://symfony.com/doc/master/bundles/FOSUserBundle/index.html

And links on README in 1.2.x branch lead to 404 pages.

[2016-08-03 04:50] #2186 closed

[2016-08-03 08:41] c0demonk commented on #2184
Realized! http://symfony.com/doc/current/bundles/FOSUserBundle/index.html points to 2.0/master I suppose. Is 2.0 current or still master?

[2016-08-03 11:53] j3r3m067 opened #2188 "Duplicate entries - skip flush"
Hi,

I use your bundle to generate user with first and last name for username. This is auto-generate and any time (or where I have many user create account) I have the error to duplicate entries.

How can I get the error for regenerate the username?

thanks

Symfony: 2.7.3

FosBundle :
"name": "friendsofsymfony/user-bundle",
"version": "v1.3.6",
"target-dir": "FOS/UserBundle",

[2016-08-03 12:30] Koalabaerchen commented on #2184
2.0 is officially in alpha (https://github.com/FriendsOfSymfony/FOSUserBundle/releases/tag/v2.0.0-alpha3) but personally I'd recommend using that because of the new features. Didn't have any problem with it and feel confident enough to use it in production.

[2016-08-03 18:41] colinodell opened #2190 "Question: does FOSUserBundle rely on the application's `secret` for hashing?"
I need to change the `secret` parameter in my Symfony application.  I'm unsure whether doing so will prevent users from logging into their account with existing passwords.  For example, perhaps this bundle or a dependency uses the `secret` for hashing? ¯\\\_(ツ)\_/¯

Can you confirm whether changing the `secret` will impact logins?

[2016-08-04 05:29] c0demonk commented on #2184
Thanks! I also recommend to fix the issue with the docs as it's saying 1.3 in current path but the doc is for 2.0. I've found lot of q/a using wrong/misleading doc. Ex. in 2.0 for ORM, entity should extend FOS\UserBundle\Model\User but in 1.3 should extend FOS\UserBundle\Entity\User.

[2016-08-04 07:13] xabbuh commented on #2184
@c0demonk Can you point out where you found documentation for 2.0/dev-master served under the 1.3 version label?

[2016-08-04 10:13] XWB commented on #2182
https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2187

[2016-08-04 10:13] #2182 closed

[2016-08-04 10:54] c0demonk commented on #2184
@xabbuh

![screenshot-symfony com 2016-08-04 16-14-22](https://cloud.githubusercontent.com/assets/7008027/17399467/c854c80a-5a5f-11e6-91ed-6649b0e06912.png)

![screenshot-symfony com 2016-08-04 16-16-12](https://cloud.githubusercontent.com/assets/7008027/17399475/d2b476ec-5a5f-11e6-9b97-ab87ee78d93e.png)

![screenshot-symfony com 2016-08-04 16-17-12](https://cloud.githubusercontent.com/assets/7008

[2016-08-04 14:32] mcbuckets opened #2192 "Possibility to override form factory"
Is it possible to override form factory to pass some extra parameters. I'm using this approach to add dynamic fields to registration form based on route parameter. It sounds messy but, as far as i understand it's not possible through form events or some other way.

I have this:

[code]
and it produces this error:

[2016-08-04 21:47] khalid-s commented on #1294
i do agree with @stof that its not a common use case to have multiple user manager and FOSUser cannot handle this as this would imply too much complexity (for as far as I am concern, the most common case scenarios you only need 1 user manager) for all fosuser community.

But I also agree that its often happens that we do need to handle multiple user managers and would be great if there was a bundl

[2016-08-06 06:36] jigarpancholi opened #2193 "Naming Convention for template name should be changed"
In my opinion you should follow proper naming convention for template like "changePassword_content.html.twig" should be named as "change_password_content.html.twig". So while overriding this template we can follow standards for underscore naming convention at all.

[2016-08-07 13:41] ahundiak commented on #2190
No.  Changing the secret will have no impact on passwords.  Try it.  I hardly ever change the secret on my development machines.

[2016-08-07 16:29] colinodell commented on #2190
Thanks!

[2016-08-07 16:29] #2190 closed

[2016-08-08 18:33] dmaicher commented on #2192
Yes you can override the form factory by simply defining a service for it with the id `fos_user.registration.form.factory` :wink:

Anyway this is not an issue of this bundle but more a question that should be posted on stackoverflow or similar sites.

Can you please close this issue? Thanks :+1:

[2016-08-10 01:16] krvajalmiguelangel commented on #1274
I have the same problem when using SonataUserBundle

[2016-08-10 14:23] matrix818181 commented on #2156
Eventhough I have an empty loginCheckAction, I still the notice. Weird...

[2016-08-11 09:15] MvanRietschoten commented on #2182
Say I have a user database with loads of users and use doctrine migrations. I would run bin/console doctrine:migrations:diff and suddenly my user entity is in the migration file. I run the migration and all the huge ass long email addresses are missing a part... Does this count as a BC break? Or how should I see this?

I know I can override it and should always check what happens in your migration

[2016-08-14 16:38] lakhman commented on #555
Related link:

http://stackoverflow.com/questions/8832916/remove-replace-the-username-field-with-email-using-fosuserbundle-in-symfony2/21064627#21064627

[2016-08-16 12:02] c0demonk commented on #1403
@stof I'm manually rendering the form fields. How do I get the `_token` for the registration form? Neither `$csrf->generateCsrfToken('app_user_registration')` nor `$csrf->generateCsrfToken('fos_user_registration')` works. Just gives `The CSRF token is invalid... `.

Thanks

[2016-08-16 12:09] diegotham opened #2196 "Class 'FOS\UserBundle\FOSUserBundle' not found in app/AppKernel.php line 20"
I'm having this issue in production:
Class 'FOS\UserBundle\FOSUserBundle' not found in app/AppKernel.php line 20

It's the only bundle with the "dev-master" tag (~2.0@dev). If I put another bundle with a dev-master tag, it gives an error with that one, so it doesn't let me have any dev-master bundles.

I have tried many things:
- Remove vendors, caches, bootstrap.php.cache, composer.lock
- Install

[2016-08-16 17:53] chalasr opened #2197 "[2.x] Support of old Symfony versions?"
Hi there,

First, thanks for this useful bundle, I would like to help on the 2.x releases.
Do we stop to ensure BC with Symfony versions that are not maintained anymore (< 2.7)?
So we could start to remove BC related hacks in the master branch.

Thanks

[2016-08-16 22:50] bvisonl commented on #1011
if you really don't need the addresses... and you are not using that field for anything else...AAAND you don't want to redefine everything just for that.....just override the setUsername($username) function in your entity and do something like this:

[code]

That will simply populate that email address field in the background.. but again that is if you are not using it :).. later on if you need it

[2016-08-17 07:36] napestershine commented on #2196
did you run install FOS with composer on production?

[2016-08-24 04:08] azenkovets commented on #1904
Hi there,
I have the same problem.
I am on symfony 3.1.3 and i installed fosuserbundle "dev/master"
I create bundle User and admin (using symfony2admingenerator) but when i try to go to edit admin or else i have this problem
No mapping found for field 'roles' on class 'Ip\UserBundle\Entity\User'

[2016-08-24 15:53] core23 commented on #2067
Any news on this? @stof @XWB

Why the delay for a final release? Anything to do here? Can we help to keep this project moving forward?

[2016-08-25 16:26] HabibMami opened #2198 "Not yet implemented error "search message""
Hello im a beginner in Symfony 2.8
i installed the FOSMessagebundle i followed the basics all goes great only when i go to search twig
i got a message "not yet implemented "
im i missing anything ?
image
![image](https://cloud.githubusercontent.com/assets/21245088/17977291/06bed8d0-6ae9-11e6-85e8-93c53bd8c722.png)

thank you ! :)

[2016-08-25 17:35] stof commented on #2198
This error has nothing to do with FOSUserBundle

[2016-08-25 17:35] #2198 closed

[2016-08-28 00:49] geoffreyhale commented on #1077
Can FOSUserBundle default form appearance be configured via config.yml as Twig can be?:
`twig:
form_themes:
        - bootstrap_3_layout.html.twig`

[2016-08-28 14:03] xub commented on #1017
no

[2016-08-29 19:58] diegotham commented on #2196
The problem persisted doing that too.

I think I figured out the problem. It was weird because one of the points of Docker is to have exactly the same environment than in production, and it was. But I didn't realised that FOSUserBundle and 2 or 3 other dependencies where not being commited with Git when pushing/pulling. I used to do composer install/update in production so I never had this problem

[2016-08-29 22:07] #2192 closed

[2016-08-29 22:18] mcbuckets opened #2199 "Remove password when profile editing"
Is it possible to remove password prompt when editing profile. I'm aware that it's for security purposes since email can be changed too. But what if i want email field out.

I tried overriding Profile form but with no luck, password field is no longer there but on submit i get `Please enter a password`. Would overriding validation help me with this?

[2016-08-30 09:17] stof commented on #2196
Closing, because there is no issue with FOSUserBundle but with the way you deploy your project.

[2016-08-30 09:17] #2196 closed

[2016-08-31 10:46] odecharette opened #2201 "Conflict with HWIOauth bundle on Symfony 3"
Hi,

I installed hwi/oauth-bundle with FOSUser bundle in my Symfony 3 application and it's working !!!

But I had to make a change in a FOSUserBunde file
-> vendor\friendsofsymfony\user-bundle\Propel\user.php
Before `use FOS\UserBundle\Propel\om\BaseUser;`
After `use FOS\UserBundle\Model\User as BaseUser;`

the folder om doesn't exists in Propel folder

Did I make a mistake or if not, could you co

[2016-08-31 10:57] XWB commented on #2193
https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2200

[2016-08-31 10:57] #2193 closed

[2016-08-31 11:01] #674 closed

[2016-08-31 17:12] exchentrix opened #2202 "Disable default validation group when resetting password"
Hey,

thank you for this awesome. I've overrided the registration form type:

[code]

The validation config for my model:

[code]
The validator works as expected for registration.

Now, if I want to reset my password, I get an "messages.email_already_exists" form error. It seems, that the resetPasswordFormType is also using the default validation:

`validation_groups: [0 => ResetPassword, 1 => Def

[2016-08-31 18:08] exchentrix commented on #2202
Hm...seems, that it has nothing to do with the validation_groups.

[2016-09-02 10:02] greg0ire commented on #2055
Providing the commit hash would have been great :P

[2016-09-02 10:18] shahroznawaz commented on #2179
Issue solved thanks for the assistance

[2016-09-02 10:18] #2179 closed

[2016-09-02 14:12] nigeljohnwade commented on #1638
I have the same issue, can anything be done about it? It seems a bit off to ignore us for nearly two years...

[2016-09-02 14:59] dborsatto commented on #2149
Partially done in https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2200

[2016-09-02 16:24] exchentrix opened #2206 "Release alpha4"
Hey,

thanks for this awesome bundle. Would it possible, that you release alpha4? Alpha3 is from late 2015 and I dont want to use dev-master.

Best,
Christian

[2016-09-03 23:33] markitosgv opened #2207 "User account disabled, solving resetting php"
Hi everyone!

I don't find any information about this issue. I expose my case:

Symfony 2.8.7, FOSUserBundle "dev-master", Nginx, php7 with php-fpm and opcache actived.

Most of the times when I deploy my app (around 8/10 times), I get kicked out from the session and then when I try to login I receive a User account disabled message. Then I restart php-fpm in the server and I can login successfull

[2016-09-04 19:11] armandobasha commented on #982
I solved the problem with generate:entities by commenting out the attributeOverride just to generate the entity and then uncomment it.

[2016-09-05 09:25] GCalmels opened #2208 "how to test the RegistrationFormType?"
Hey,

I wanted to know how to test my custom RegistrationFormType!
When I launch phpunit, it says that

[code]

I tried to inject the class in the service without success...

Thanks!

[2016-09-05 16:48] helmidridi opened #2209 "ORA-00903: invalid table name (Oracle 11g)"
I started a projet with oracle 11g, the connection work well, i installed FOSUserBundle and updated the datatbase, everithing is ok, the able user is created but when i tried to create user

`C:\>php bin/console fos:user:create admin
Please choose an email:helmis@gmail.de
Please choose a password:
  [Doctrine\DBAL\Exception\DriverException]
  An exception occurred while executing 'INSERT INTO user

[2016-09-05 20:11] VincentChataignier commented on #2209
'User' is a [reserved word](http://docs.oracle.com/cd/E18283_01/appdev.112/e10830/appb.htm) in Oracle. It can't be used as a table name

[2016-09-06 10:50] XWB commented on #2201
What version of FOSUserBunde are you currently using?

[2016-09-06 10:51] XWB commented on #2206
I will work on that in the coming weeks.

[2016-09-06 10:52] XWB commented on #2197
We should drop BC in 3.x releases.

[2016-09-06 10:53] chalasr commented on #2197
Thank you @XWB

[2016-09-06 10:53] #2197 closed

[2016-09-06 10:54] stloyd commented on #2197
@XWB as this is still in phase of alpha, maybe it's good idea to drop the support anyway?

[2016-09-06 11:39] XWB commented on #1413
https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2210

[2016-09-06 12:00] XWB commented on #1413
https://github.com/FriendsOfSymfony/FOSUserBundle/commit/5c45199985b8c95ccad6b4d538765ff47830e9e4

[2016-09-06 12:00] #1413 closed

[2016-09-06 15:24] NinoFloris opened #2212 "No migration/invalidation of a session after password change or reset?"
After an audit of our codebase an issue came to light concerning session invalidation/migration when users change critical information about their account (think username/password).

This has not been handled anywhere in this bundle and is also hindered by the fact that you would want invalidate ALL sessions of this user which is hard to do because this currently requires O(N) lookup time to loop

[2016-09-07 14:54] exchentrix opened #2213 "Different validation behaviour for api requests and web form submissions"
Hey,

thanks for this awesome bundle. I noticed a strange behaviour when registering users via my registration form and an api request.

**My fos/user-bundle configuration**

[code]

**The RegistrationType**

[code]

**My entity. I override the username field, so that it can be null.**

[code]

I'm using the fos/user-bundle controller for handling the form submission and persisting.

**For my api,

[2016-09-07 15:11] exchentrix commented on #2213
I turned out, that `fos/user-bundle` uses `Registration` validation group, which my form doesn't did. For now I just disabled that by `adding validation_groups: []` to `registration.form` key in my config.yml.

[2016-09-07 15:11] #2213 closed

[2016-09-07 22:18] markitosgv commented on #2207
I've got more info, this is error when User account is disabled appears:

1	Symfony\Component\Security\Core\User\UserChecker->checkPreAuth(WobbleCode\UserBundle\Document\User)
xxxx/app/Symfony/vendor/symfony/symfony/src/Symfony/Component/Security/Core/Authentication/Provider/RememberMeAuthenticationProvider.php:53

Maybe problem is relate to implements AdvanceUserInterface instead UserInterface?

[2016-09-07 23:25] grago opened #2214 "Unique email and username fields validation with custom User manager and object"
Hello, i have a project using FOSUserBundle working with [ElasticsearchBundle](https://github.com/ongr-io/ElasticsearchBundle/), so i've created a custom user object and manager by following instructions found [here](https://victor.4devs.io/en/symfony2/how-to-use-a-custom-storage-layer-in-FOSUserBundle.html)

However, it looks like the registration is not checking the uniqueness of the email and u

[2016-09-08 03:26] grago commented on #2214
Oh snap, this was already covered on the [official docs](http://symfony.com/doc/current/bundles/FOSUserBundle/custom_storage_layer.html), i needed to create a custom constraint validation. Sorry!

[2016-09-08 03:26] #2214 closed

[2016-09-08 08:25] Laurent3170 opened #2215 "Having trouble for mails send to hotmail and live accounts"
When a user register with a Microsoft (hotmail, live) address, he/she never receives the email of confirmation. My server doesn't send a lot of email so I don't think it's blacklisted...
If anyone can help it would be welcomed

[2016-09-08 08:50] markitosgv commented on #2207
If I configure opcache with validation_timestamps to 1 (default config) works ok.

[2016-09-08 09:31] OskarStark commented on #2207
if this issue is fixed, can you please close this ticket @markitosgv ?

thank you 👍

[2016-09-08 09:41] markitosgv commented on #2207
But it's not fixed...

I put all info recopiled here:

Hi everyone!

I don't find any information about this issue. I expose my case:

Symfony 2.8.7, FOSUserBundle "dev-master", Nginx, php7 with php-fpm and opcache actived with no validation tiemstamps.

Most of the times when I deploy my app (around 8/10 times), I get kicked out from the session and then when I try to login I receive a User accou

[2016-09-08 10:04] OskarStark commented on #2067
@core23 I think reviewing PR's and issues in the [2.0 Milestone](https://github.com/FriendsOfSymfony/FOSUserBundle/milestone/4) would help

[2016-09-08 10:05] OskarStark commented on #2207
did you tried to disable opcache completely?

yre you using relative paths in your nginx config?

[2016-09-08 10:08] markitosgv commented on #2207
I am deploying with ansible, and current symlinked directory to last /releases dir.

[2016-09-08 10:09] OskarStark commented on #2207
can you show me your nginx conf part where `current` dir is used?

[2016-09-08 10:10] markitosgv commented on #2207
Of course,

server {
    listen 80;
    server_name api.xxx.com;
    root /var/www/vhosts/project/xxx/current/app/Symfony/web;

[2016-09-08 10:14] OskarStark commented on #2207
and the vhost part please

[2016-09-08 10:16] markitosgv commented on #2207
location / {
        index api.php;
        try_files $uri @rewriteapp;
    }

    location @rewriteapp {
        rewrite ^(.*)$ /api.php/$1 last;
    }

    location ~ ^/(api|api_dev)\.php(/|$) {
        fastcgi_pass 127.0.0.1:9008;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;

        include fastcgi_params;

        fastcgi_param APP_ENV prod;
        fastcgi_param SYMFONY__APP__ENV prod;

[2016-09-09 08:03] odecharette commented on #2201
Hi

I use
"friendsofsymfony/user-bundle": "dev-master",
"hwi/oauth-bundle": "0.5.x-dev"

with SF 3.1.0

Olivia

[2016-09-09 08:05] markitosgv commented on #2207
I'm trying some things and I belive problem is using metadata_cache_driver: apc. Im using doctrine mongodb.

[2016-09-10 15:24] Naskalin commented on #2098
Same problem. I have when overriding the templates folder "ChangePassword" also does not work. It is this folder, with all the other all ok

[2016-09-12 06:58] crmpicco commented on #1561
If you have a custom Mailer service you would register it like this:

[code]

[2016-09-12 09:20] NonlyNerd opened #2221 "Translation doesn't work on login form only"
On dev-master (528f0a93aebb641a0bc6471cc24562fbd01432cb), there is an issue when including the login form.

In **login.html.twig**, there is ```{% trans_default_domain 'FOSUserBundle' %}``` but Symfony doesn't cascade this variable for included files (see [Translations documentation](http://symfony.com/doc/current/translation.html#twig-templates)).

So I've cut-paste the above twig variable in the

[2016-09-12 15:04] XWB commented on #2221
https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2222

[2016-09-12 15:04] #2221 closed

[2016-09-12 20:48] snebes commented on #2215
Have you tried this yourself?  Are emails being sent out from your server, just not received?  Or spamboxed?

[2016-09-13 07:04] Laurent3170 commented on #2215
Yes I did, all the mails sent to live.fr and hotmail.fr when registering from my websites are spamboxed. I use my own server.

[2016-09-14 08:30] TomSchillemans commented on #1790
This keeps happening to me. Using symfony 2.8.* with doctrine 2.5.5.  Downgrading doesn't help either.
I get the exact same error as initial comment.

[2016-09-14 11:35] Ziiweb commented on #2175
No idea about this?

[2016-09-14 16:02] hellomedia commented on #1231
Indeed the current behaviour does not pass the real-life test.

[2016-09-14 19:13] mappedinn opened #2223 "how to get all users connected to default user without going through login page?"
Hi,

I want to secure my API with FOSUserBundle (and avoid the use of FOSOAuthServerBundle due to lack of documentation with complete example).

To make my API secure, I just created firewalls as follows:

[code]

This is great! But this requires that every one has to be connected before using the website so that I can display the list of ads, etc. _( Even GET queries needs a connected for securit

[2016-09-15 15:32] dkorsak opened #2224 "PHP Fatal error: Class 'FOS\UserBundle\Propel\om\BaseUser' not found"
After symfony command cache:warmup there is error:

PHP Fatal error:  Class 'FOS\UserBundle\Propel\om\BaseUser' not found in ..../vendor/friendsofsymfony/user-bundle/Propel/User.php on line 18
 *\* [out :: 138.201.93.46] [2016-09-15 16:52:02] php.CRITICAL: Fatal Error: Class 'FOS\UserBundle\Propel\om\BaseUser' not found {"exception":"[object](Symfony\Component\Debug\Exception\FatalErrorException%2

[2016-09-15 15:38] core23 commented on #2224
Can you please leave a little more information...

Which bundle versions are you using?

[2016-09-15 16:23] dkorsak commented on #2224
dev-master, latest release of FOSUserBundle.
If you will look at file https://github.com/FriendsOfSymfony/FOSUserBundle/blob/master/Propel/User.php, there is no namespace FOS\UserBundle\Propel\om in the bundle code

[2016-09-15 16:26] core23 commented on #2224
Can you supply a PR which fixes https://github.com/FriendsOfSymfony/FOSUserBundle/blob/master/Propel/User.php#L16 @dkorsak ?

[2016-09-15 19:16] chrislebaron commented on #1231
👍

[2016-09-15 19:22] core23 commented on #1231
Maybe someone could provide a PR with this feature instead of posting stupid 👍 comments. This feature wouldn't come automatically when there are 1452 👍 s

[2016-09-15 21:27] stof commented on #1685
We let each tool handle the storage of arrays on its own. Today, I would use ``simple_array`` in Doctrine rather than ``array`` (having a serialized PHP structure in the DB is not a good idea)

[2016-09-15 21:27] #1685 closed

[2016-09-19 09:31] Pierstoval commented on #2206
@XWB What's the situation for now? 😄

[2016-09-19 13:16] rtuin commented on #1409
Is this solved with https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2210 ?

[2016-09-19 13:18] rtuin commented on #1983
That was merged! Can you confirmed it solves this issue?

[2016-09-19 15:28] alexislefebvre commented on #2106
@Laurent3170 Did you use *Bundle inheritance* as suggested by dmaicher?

[2016-09-19 15:56] Laurent3170 commented on #2106
I have also tried with the implementation at http://symfony.com/doc/current/bundles/inheritance.html with file `/src/AppBundle/User/UserBundle.php`
[code]
and file `/src/AppBundle/User/RegistrationController.php`
[code]
And I keep receiving the err404 message with token not found

[2016-09-19 16:20] dmaicher commented on #2106
Does it even get into your action? Btw there is an import missing for class `NotFoundHttpException` so it will never catch it :wink:

[2016-09-19 16:30] Laurent3170 commented on #2106
No it doesn't go to my action. I have added `use Symfony\Component\HttpKernel\Exception\NotFoundHttpException;`

[2016-09-21 09:24] ThomasTr commented on #2098
Same here: can not overwrite FOSUserBundle:ChangePassword:change_password_content.html.twig

[2016-09-22 21:45] markitosgv commented on #2207
@OskarStark do you see something? I try to clear both cache Apc and Opcache and sometimes I need to hit a couple times to avois "User account is disabled" message.

[2016-09-23 16:44] BowlingX commented on #2224
that's weird that this file has never been in this bundle (at least till last year). Is there another bundle that provides this file in the same namespace?

[2016-09-23 16:46] BowlingX commented on #2224
The full Propel folder seems to be broken, the whole folder/namespace `FOS\UserBundle\Propel\om` is not available.

[2016-09-23 18:03] BowlingX commented on #2224
Ok, I think this seems to be an issue with the auto_mapping, this looks familiar: https://github.com/FriendsOfSymfony/FOSUserBundle/issues/1646.

The classes in this namespace will be generated if I'm correct?

[2016-09-23 22:49] BowlingX commented on #2224
Looks like a symfony problem to me, after I downgraded to symfony commit #1f9f87b177126fa67739ab109f8f59659f0dab9a (master, 3.2-dev) it's working again. Something broke/changed after this commit

[2016-09-24 11:06] dkorsak commented on #2224
Event if I remove propel files from autoloader by adding "exclude-from-classmap" option into composer.json, symfony still is trying to autoload propel files.
Yes, seems to be symfony problem on dev-master branch.

[2016-09-25 21:13] iamthestreets commented on #2179
@shahroznawaz can you share how you solved this?

[2016-09-26 10:42] lysender commented on #1919
I'm not sure if there is a related issue, but `confirmation_token` "varchar(255)" also has this index length issue.

I've added override:

[code]

but it seems too short (191 vs 255). Haven't actually registered a user so I can't confirm.

[2016-09-26 11:45] shahroznawaz commented on #2179
That was the issue of memory I increased it and all done

[2016-09-26 11:58] Laurent3170 commented on #2106
As I can't manage to override FOSUser Controller, my only way is to write directly inside FOSUSer Controller... :-(

[2016-09-26 16:34] dmaicher commented on #2106
@Laurent3170 I guess something is weird with your namespaces & naming :wink:

Maybe check http://symfony.com/doc/current/bundles/best_practices.html

And if it does not work then I would suggest to post it on stackoverflow as its not really the scope of this issue here :wink:

[2016-09-27 10:37] ryzhov commented on #2224
Hello, have exactly same issue as BowlingX has

[2016-09-27 10:49] stof commented on #2224
The question is what is trying to access these classes. If you don't use Propel, the bundle should never access these classes. And if you use Propel, the base classes will be generated by Propel.

[2016-09-27 10:52] ryzhov commented on #2224
I do not use Propel, my FOSUserBundle config is:
fos_user:
    db_driver: orm
    firewall_name: main
    user_class: UserBundle\Entity\BaseUser
    service:
        mailer: fos_user.mailer.noop

[2016-09-27 12:57] HarounOujihi commented on #2019
I tried to make login and register in same page (at root /login) using symfony 2.8 and This is how it works for me:

First simple edit in friendsofsymfony/user-bundle/Controller/SecurityController.php

at the buttom of function loginAction and befor return add this :

[code]
and then add the registration form view to the return to be like this:

[code]
Then in your login.html.twig put where ever y

[2016-09-27 14:00] stof commented on #2055
This service is clearly internal (and it may be removed again before 2.0 stable as I want to avoid early loading of Doctrine metadata and be compatible with entity manager resetting, and this might imply changing how I inject Doctrine). You should avoid depending on it directly. It is not part of the FOSUserBundle supported services.

[2016-09-27 16:33] ryzhov commented on #2224
[code]

[2016-09-27 17:34] stof commented on #2224
Please provide the full stack trace, allowing to know what required the Propel user class

[2016-09-27 17:41] ryzhov commented on #2224
this is full stack but I not found the source what use this class
[out.txt](https://github.com/FriendsOfSymfony/FOSUserBundle/files/496295/out.txt)

[2016-09-27 20:27] Laurent3170 commented on #2106
As the answer is short (and may help people coming here) the problem was that the Overriding Bundle has to be declared in `AppKernel.php`. As it's a Bundle I should have think of it, but it may also be mentioned in the docs... As we follow them like a recipe.

[2016-09-28 06:56] SDPrio opened #2234 "The field 'usernameCanonical' is not mapped by Doctrine, so it cannot be validated for uniqueness"
Hi,

I am using FOSUserBundle in my Symfony 2.7 project. In the `composer.json` file the requirement is defined as `"friendsofsymfony/user-bundle" : "~2.0@dev""friendsofsymfony/user-bundle" : "~2.0@dev"`. Currently version/commit **45d6f40** (11/03/2015) is installed.

After using `composer update` the latest version **7abb0ff** was installed. After this, I get the following exception when trying

[2016-09-28 09:37] cedricziel commented on #2224
I just encountered the problem and I think the modifications on the composer autoload definition (specifically the `autoload-dev` section) is to blame. - Maybe in combination with changes in the class scanning in sf.

Here's the comparison between the current the working and the failing commit: https://github.com/FriendsOfSymfony/FOSUserBundle/compare/662463f...FriendsOfSymfony:7abb0ff#diff-b5d0ee

[2016-09-28 09:54] stof commented on #2224
what you gave me is an extract of your logs, not the stack trace. Run the cache warmup command in verbose mode to get a stack trace.

Btw, autoload-dev of FOSUserBundle has strictly no impact in your own project (composer will NEVER read this setting for packages installed as a dependency)

[2016-09-28 09:57] cedricziel commented on #2224
That's exactly my thought - still: rolling back just these changes fixes the error.

[2016-09-28 10:01] ryzhov commented on #2224
@stof, Did you mean this ?:
[code]

[2016-09-28 15:33] Pierstoval commented on #2206
@XWB, all other contributors, I don't know, @stof, @Ener-Getick, anyone, come on, I know I'm quite pushing you, but last alpha was released **more than a year ago**, and actual master branch is perfectly fine for 99% apps.

I see you are merging some pull requests, do you need help in creating the changelog for the alpha release? If you need help just ask contributors, everyone here wants a new re

[2016-09-28 16:10] Ener-Getick commented on #2206
@Pierstoval i completely agree with you,.
Unfortunately, i'm not a regular contributor to this bundle and i don't know what are the current projects/aims so i can't release a new stable version myself without taking the risks of breaking them (maybe we're waiting for a new feature or a bug fix i don't know).

If @stof agrees (he's the last in charge if i'm not wrong?) I can of course take a look a

[2016-09-28 16:42] core23 commented on #840
@XWB IMHO we can remove this from the 2.0 milestone, because this is not really related to the next release. It's a general question.

[2016-09-28 16:49] core23 commented on #965
This was fixed in https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2076.

Think we should close this @XWB

[2016-09-28 17:19] core23 commented on #949
Can you supply a PR @runcom ?

[2016-09-28 17:39] core23 commented on #946
IMHO we can't fix this, because the [symfony encoder method](https://github.com/symfony/symfony/blob/v3.1.4/src/Symfony/Component/Security/Core/Encoder/PasswordEncoderInterface.php#L29) expects a valid salt.

[2016-09-29 07:32] #965 closed

[2016-09-29 07:53] rjd22 commented on #2206
@Ener-Getick it would be okay if it was an alpha release I think. Doesn't have to be stable.

[2016-09-29 08:03] flip111 commented on #946
@core23 where exactly in the code of FUB is the coupling between the user model and the symfony encoder?

[2016-09-29 08:09] Pierstoval commented on #2206
@Ener-Getick Actually as said, at least an `alpha` release is fairly enough and does not imply generating a big changelog (because the changelog gets bigger and bigger in time).

Releasing `2.0.0` is a much harder task because we have to explain users what changed since `1.x`, and as I said, the community will be happy to help writing a big exhaustive changelog for `2.x` :)

[2016-09-30 07:32] NovikovViktor opened #2239 "Bundle works unexpectedly after enabling Symfony HTTP Cache"
Hello,
I have faced with a strange issues related to log-in/logout functionality after enabling HTTP Cache.
E.g. when I log-in to the system, and then push to logout button, after refresh I am still authenticated.
This issue occurs on environment with php7 and on another machine with php5.6 everything works just fine. I am not sure that php version could impact on this.
I tried to find related iss

[2016-09-30 08:31] XWB commented on #2206
@Pierstoval I think we can tag a new alpha when the last 4 PR's have been merged, see https://github.com/FriendsOfSymfony/FOSUserBundle/pulls?q=is%3Aopen+is%3Apr+milestone%3A2.0

[2016-09-30 08:33] #1919 closed

[2016-09-30 08:40] #1295 closed

[2016-10-01 07:50] core23 commented on #946
Here https://github.com/FriendsOfSymfony/FOSUserBundle/blob/master/Model/UserManager.php#L161-L168

[2016-10-03 08:23] #889 closed

[2016-10-03 16:38] alister opened #2245 "/login redirects to /profile"
Following pull request #2236 when a currently-logged in user visits a FOSUser generated page (such as /login, /register, /resetting/request or /register) they will be redirected by default to `/profile` (the route named `fos_user_profile_show`).

To change the default route, add a new key in your Symfony configuration: `fos_user.user.default_route`.

[code]

This change also means that you can no

[2016-10-03 19:11] codedmonkey commented on #949
I was thinking about this issue and a few thoughts cropped up. If we want to implement this correctly for the give use-case: not being able to enter an invalid email address, it would require more than just an `emailVerified` field, it would require us to save the old email address as long as a new email is in review, otherwise it would defeat the purpose of the feature.

Therefore I would vote to

[2016-10-04 09:15] XWB commented on #2245
Ping @core23

[2016-10-04 10:17] flavienaudin commented on #2245
Hi,
Is it possible to disable this "new behaviour" (redirect the loggedIn user to default_route when visiting register/login/reset page) by adding another configuration key (fos_user.user.redirect_logged_in_user : true) ? Sometime it is suitable to let user visit these pages even if they are logged in.
For example, I used the ResettingController:sendEmailAction() (with username set by hand in the

[2016-10-04 10:19] stloyd commented on #2245
IMO it looks like you were using _bug_ as a workaround for testing, while correct flow is what you described.

IMO this is not BC-break (or bug) in any case as the flow was broken before. But this is just my opinion.

[2016-10-04 18:13] core23 commented on #2245
I share @stloyd opinion. This sounds was a bug, no feature. Can you name any popular site that allows you to login as a new user while you are already logged in?

Maybe we could allow null values for the new key to disable this feature?!

[2016-10-04 23:58] djardine opened #2246 "Profile edit form doesn't verify on correct "current_password""
Maybe this is my misunderstanding of how the profile edit form is meant to work, but my expectation is that the "Current password" field is meant verify that the correct person if making changes to the user's profile by validating their current password. If this is the case, then the password verification doesn't seem to be happening. I can enter any string for "current_password" and the profile c

[2016-10-05 08:55] flavienaudin commented on #2245
This could be a good option and easy to implement as it just requires to add a condition on the parameter.

[2016-10-05 14:32] Repti31 opened #2247 "Status code is 302"
Hi,

I'm using Symfony 3.5 and on `composer update` since my last version FOSUserBundle ~2.0@dev I error:
[2016-10-05 14:11:55] request.CRITICAL: Uncaught PHP Exception Twig_Error_Runtime: "An exception has been thrown during the rendering of a template ("Error when rendering "http://mon.site.com/" (Status code is 302).") in "base.html.twig" at line 29." at C:\wamp\www\monsite\var\cache\dev\classe

[2016-10-05 15:09] picks44 opened #2248 "fos_user_registration_register cannot be accessed by a logged in user anymore?"
I don't want the /register path to be public, as I want to register users myself (website admin), so I made it private with the access_control in security.yml. But it looks like the new release is now redirecting me (as I'm logged to do this) to my profile page when I'm trying to access this page and register a new user.

Is there a workaround ?

[2016-10-05 15:39] core23 commented on #2248
You could include only some routes that you need instead of using the `all.xml` routing file.
 https://github.com/FriendsOfSymfony/FOSUserBundle/tree/master/Resources/config/routing

[2016-10-05 15:40] core23 commented on #2247
Symfony 3.5? You must be from the future? :trollface:

[2016-10-05 15:50] xabbuh commented on #2247
@Repti31 Do you embed the register or login form via sub requests in your template (in this case #2236 might be the cause of your issue)?

[2016-10-05 18:39] Repti31 commented on #2247
@core23 Symfony 3.1.5 lol sorry
@xabbuh I have embed the login form via sub requests in my template.
Because the current version doesn't work, I am using the previous version (the one I have downloaded 15 days ago with composer on ~2.0@dev) whitch works well with function render of twig `{{ render(controller('FOSUserBundle:Security:login', {'request': app.request})) }}` in my base.html.twig.
I'm u

[2016-10-06 07:57] picks44 commented on #2248
@core23 I don't see how this would help me? I want to access /register only when a user with the correct permissions is logged in.

[2016-10-06 08:26] picks44 commented on #2248
My **security.yml** has :
[code]

Then in my admin section if I'm a ROLE_SUPER_ADMIN I have a "Add user" button that should open the **fos_user_registration_register** route so I can create a new one. This way i have control of my users and noone from "outside" can try to register by himself.

[2016-10-06 08:32] picks44 commented on #2245
I have an issue related to this one, please see [#2248](https://github.com/FriendsOfSymfony/FOSUserBundle/issues/2248)

[2016-10-07 13:18] jfsenechal opened #2251 "Problem with ldap compare password with sf3"
Hi,
I'm trying to configure ldap with fosuserbundle but I have an error :
User Warning: Expected known_string to be a string, NULL given

[http://i.stack.imgur.com/y9gyh.png]

My config files :

**security.yml**

`providers:
    fos_userbundle:
        id: fos_user.user_provider.username

[code]

encoders:
    Symfony\Component\Security\Core\User\User: plaintext
    AcSecurityBundle\Entity\User: s

[2016-10-09 08:48] ZhaoMuqiang commented on #1408
I met the same problem, looking forward to solution...

[2016-10-09 14:10] francoispluchino commented on #2245
@core23 Your question is legitimate, and I agree with you. However, in the case of using the feature `Remember Me`, a user already authenticated (and so using the `RememberMeToken`) will must access to a protected resource by the role `IS_AUTHENTICATED_FULLY`, can not re-authenticate. He will be redirected to the login page, which in turn, will redirected toward the route defined in the config `fo

[2016-10-10 09:27] francoispluchino commented on #2247
It's the same problem that the issue #2245, and it was introduced with the PR #2236.

@core23, @XWB A solution must be found to your PR, especially since this is problematic with the feature RememberMe (see my [last comment](https://github.com/FriendsOfSymfony/FOSUserBundle/issues/2245#issuecomment-252488554)).

[2016-10-10 10:13] CaredduMattia commented on #2224
I'm having the same problem.

[2016-10-10 11:26] XWB commented on #2246
Can you try https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2256 ?

[2016-10-10 17:59] djardine commented on #2246
Looks good to me!

[2016-10-10 19:31] XWB commented on #2246
Fixed via https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2256

[2016-10-10 19:31] #2246 closed

[2016-10-11 01:19] pnsean opened #2266 "FOSUserEvents::REGISTRATION_FAILURE appears to be missing?"
I've been using FOSUserEvents::REGISTRATION_FAILURE for a week now.  Just went to go update a few libraries through composer on a production server, and now it appears this event is missing from the bundle.

I've checked all the releases and it no longer appears in any build?  Was this recently removed?

[2016-10-11 08:37] XWB commented on #2266
It's still present.

https://github.com/FriendsOfSymfony/FOSUserBundle/blob/master/FOSUserEvents.php#L162
https://github.com/FriendsOfSymfony/FOSUserBundle/blob/master/Controller/RegistrationController.php#L88

[2016-10-11 12:11] manuelDistefano opened #2272 "Problem with fosOauthServerBundle"
Hi folsk,

i have a project with FosUserBundle and FOSOauthServerBundle:

`
"friendsofsymfony/oauth-server-bundle": "^1.5",
 "friendsofsymfony/user-bundle": "~2.0@dev",
`

After the last upgrade i have this error:
`Argument 5 passed to FOS\OAuthServerBundle\Storage\OAuthStorage::__construct() must implement interface Symfony\Component\Security\Core\User\UserProviderInterface, instance of FOS\UserB

[2016-10-11 12:13] stof commented on #2272
this is because using the ``fos_user.user_manager`` as a UserProvider was deprecated since a long time, and we finally got rid of the deprecated code. Inject the actual user provider instead

[2016-10-11 12:16] manuelDistefano commented on #2272
Yeah! I checked it just 1 minutes after my post.

Tnx

[2016-10-11 12:16] #2272 closed

[2016-10-11 15:24] cedricziel commented on #2224
I've attached a stack-trace.

Looks like the `ValidatorCacheWarmer` uses the available class-loaders to read metadata from all suitable loaders and that's where the error originates.

I am still convinced that it has something to do with the classmap-especially since the ValidatorBuilder uses it to build its metadata.

<details>
<summary>The stack trace</summary>
[code]
</details>

[2016-10-11 15:36] stof commented on #2224
OK, I think I will move the propel integration into a separate bundle for v2 (and look for a maintainer for it, as I'm not using Propel myself), to avoid such issue.

[2016-10-11 15:50] tacman commented on #2224
How about just gutting Propel?  Version 2 will never be finished (it's been
in alpha for years, Version 1 is deprecated.  There's no good reason for
using Propel.

Alternatively, you could create the \Propel\om\BaseUser class and check it
into the repo.

On Tue, Oct 11, 2016 at 11:36 AM, Christophe Coevoet <
notifications@github.com> wrote:

[2016-10-12 09:00] #1308 closed

[2016-10-12 09:21] XWB commented on #2127
Closing this in favor of https://github.com/FriendsOfSymfony/FOSUserBundle/issues/2206

[2016-10-12 09:21] #2127 closed

[2016-10-12 09:21] XWB commented on #2128
Closing this in favor of https://github.com/FriendsOfSymfony/FOSUserBundle/issues/2206

[2016-10-12 09:21] #2128 closed

[2016-10-12 09:22] XWB commented on #1996
Closing this in favor of https://github.com/FriendsOfSymfony/FOSUserBundle/issues/2206

[2016-10-12 09:22] #1996 closed

[2016-10-12 09:23] #1951 closed

[2016-10-12 09:24] XWB commented on #2067
Closing this in favor of https://github.com/FriendsOfSymfony/FOSUserBundle/issues/2206

[2016-10-12 09:24] #2067 closed

[2016-10-12 09:24] XWB commented on #1923
This has been fixed in master.

[2016-10-12 09:24] #1923 closed

[2016-10-12 09:25] XWB commented on #747
https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2257

[2016-10-12 09:27] #2088 closed

[2016-10-12 09:27] XWB commented on #2088
See above.

[2016-10-12 09:27] XWB commented on #2082
This has been fixed in master.

[2016-10-12 09:27] #2082 closed

[2016-10-12 09:28] XWB commented on #2070
Will release a new alpha very shortly.

[2016-10-12 09:28] #2070 closed

[2016-10-12 09:28] XWB commented on #2107
See above.

[2016-10-12 09:28] #2107 closed

[2016-10-12 09:29] #1966 closed

[2016-10-12 09:29] #1983 closed

[2016-10-12 09:30] XWB commented on #1878
See above.

[2016-10-12 09:30] #1878 closed

[2016-10-12 09:31] #1845 closed

[2016-10-12 09:32] XWB commented on #1780
This has been fixed already.

[2016-10-12 09:32] #1780 closed

[2016-10-12 09:32] #1781 closed

[2016-10-12 09:32] #1721 closed

[2016-10-12 09:33] XWB commented on #1726
Please check Symfony docs on how to override controllers.

[2016-10-12 09:33] #1726 closed

[2016-10-12 09:33] #1733 closed

[2016-10-12 09:33] #1692 closed

[2016-10-12 09:34] #1689 closed

[2016-10-12 09:34] #1662 closed

[2016-10-12 09:35] #1630 closed

[2016-10-12 10:42] OskarStark commented on #2224
into the repo

That is not how propel should work

[2016-10-12 10:49] stof commented on #2224
As this class would extend from a Propel class, you would still have the same issue about the missing base class. It would just be the next one.

[2016-10-12 11:02] Pierstoval commented on #2070
👍

[2016-10-12 11:39] vaziuok commented on #2272
This helped me:

`user_provider: fos_user.user_provider.username`

[2016-10-12 11:47] #2176 closed

[2016-10-12 11:48] XWB commented on #2209
See above.

[2016-10-12 11:48] #2209 closed

[2016-10-12 11:49] XWB commented on #2170
See above.

[2016-10-12 11:49] #2170 closed

[2016-10-12 11:50] XWB commented on #2168
See above.

[2016-10-12 11:50] #2168 closed

[2016-10-12 11:50] XWB commented on #2162
See above.

[2016-10-12 11:50] #2162 closed

[2016-10-12 11:50] XWB commented on #2153
This has been addressed in master.

[2016-10-12 11:50] #2153 closed

[2016-10-12 11:51] XWB commented on #2149
This has been addressed in master.

[2016-10-12 11:51] #2149 closed

[2016-10-12 11:51] XWB commented on #2143
See above.

[2016-10-12 11:51] #2143 closed

[2016-10-12 11:51] #2137 closed

[2016-10-12 11:52] XWB commented on #2133
See above.

[2016-10-12 11:52] #2133 closed

[2016-10-12 11:52] XWB commented on #2125
See above.

[2016-10-12 11:52] #2125 closed

[2016-10-12 11:52] XWB commented on #2145
See above.

[2016-10-12 11:52] #2145 closed

[2016-10-12 11:53] mvar commented on #2149
Perfect. Thanks.

[2016-10-12 11:53] XWB commented on #2150
:+1:

[2016-10-12 11:53] #2150 closed

[2016-10-12 11:57] XWB commented on #2024
This is not the right place.

[2016-10-12 11:57] #2024 closed

[2016-10-12 11:58] XWB commented on #1993
See above.

[2016-10-12 11:58] #1993 closed

[2016-10-12 11:58] #2011 closed

[2016-10-12 12:04] #1760 closed

[2016-10-12 12:04] XWB commented on #1760
See above.

[2016-10-12 12:04] XWB commented on #1746
Should be fixed now.

[2016-10-12 12:04] #1746 closed

[2016-10-12 12:40] XWB commented on #2247
https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2273

[2016-10-12 12:40] #2247 closed

[2016-10-12 12:41] XWB commented on #2248
Fixed in https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2273

[2016-10-12 12:41] #2248 closed

[2016-10-12 12:41] XWB commented on #2245
Fixed in https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2273

[2016-10-12 12:41] #2245 closed

[2016-10-12 12:54] jfsenechal commented on #2251
I have resolve error message "Expected known_string to be a string, NULL given"

I have replace

Symfony\Component\Security\Core\User\User: plaintext

By

Symfony\Component\Security\Core\User\User: bcrypt

[2016-10-12 14:55] mysiar commented on #2098
hi guys, no problem to over write change password twig template,

check this out
https://github.com/mysiar/Invoice/blob/master/app/Resources/FOSUserBundle/views/ChangePassword/changePassword_content.html.twig

and how it looks like
https://github.com/mysiar/Invoice/blob/master/web/img/password.change.png

hope this helps

[2016-10-13 08:11] XWB commented on #2114
See above.

[2016-10-13 08:11] #2114 closed

[2016-10-14 06:09] crmpicco commented on #2206
:+1: for a 2.0.0 release

[2016-10-14 21:38] pnsean commented on #2266
Hmm, interesting yea I get it if I pull down dev-master, but if I pull down the latest release 2.x alpha it's missing now.  Strange.

[2016-10-14 21:38] #2266 closed

[2016-10-16 15:30] flavienaudin commented on #2245
Thanks

[2016-10-19 10:32] pdoreau commented on #2206
I'm moving from SF 2.8 to 3. Is the alpha3 version stable enough for an app in production ?

[2016-10-19 10:55] Pierstoval commented on #2206
@pdoreau alpha3 is not compatible enough with SF3, you'll have to either wait for alpha4 ( ping @XWB 😄 ) or use `dev-master` and implement integration tests to be sure everything works well

[2016-10-19 12:27] pdoreau commented on #2206
Sure, a stable release would indeed be more than appreciated. I guess many developers don't wanna rely on an alpha dependency.

[2016-10-19 14:58] Pierstoval commented on #2206
@pdoreau you can help by reviewing all [2.0 milestone PRs](https://github.com/FriendsOfSymfony/FOSUserBundle/pulls?q=is%3Aopen+is%3Apr+milestone%3A2.0) and it'll make things advance much faster 😉

[2016-10-19 15:06] #2175 closed

[2016-10-19 15:27] user58258 opened #2279 "@ install, FATAL "[Doctrine\Common\Persistence\Mapping\MappingException] Class 'AppBundle\Entity\User' does not exist""
Following

[code]

Starting with

[code]

I installed FOSUserBundle

[code]

added

[code]

When I exec

[code]

I get the following error

[code]

[2016-10-19 15:45] xabbuh commented on #2279
You forgot to add a custom `User` class in the `AppBundle\Entity` namespace.

[2016-10-19 17:44] user58258 commented on #2279
@xabbuh

Isn't that the

    edit src/AppBundle/Resources/config/doctrine/User.orm.yml

    +    AppBundle\Entity\User:
    +        type:  entity
    +        table: fos_user
    +        id:
    +            id:
    +                type: integer
    +                generator:
    +                    strategy: AUTO

?

That's directly from

    a) Doctrine ORM User class¶

    If you're persis

[2016-10-19 17:56] xabbuh commented on #2279
That's your mapping definition. Yo are missing the actual class (see https://symfony.com/doc/master/bundles/FOSUserBundle/index.html#step-3-create-your-user-class before part a)).

[2016-10-19 18:15] yohann-teisseire commented on #2272
@vaziuok , thank you very much.

[2016-10-19 18:28] user58258 commented on #2279
I don't mean to be thickheaded abt this, but

So I go to the **_following section_** , choose the YAML option, and create that file.

If I'm misunderstanding the instructions, can you provide an example of exactly what I'm supposed to add & where?

[2016-10-19 18:36] xabbuh commented on #2279
@user58258 Your `User` class should basically look like the example in the "Annotations" format at https://symfony.com/doc/master/bundles/FOSUserBundle/index.html#a-doctrine-orm-user-class (but you will leave out the mapping annotations).

Maybe that's not clear enough, but is basically described with these steps:

1. Map the `id` field. It must be protected as it is inherited from the parent clas

[2016-10-19 18:43] user58258 commented on #2279
No, not at all clear to me :-( Which is why i'm spinning here ...

To me, it reads as if we have a *choice* from among those **_following options_** as to how to create the User class, and hence how the

So, do I have to create BOTH the

    src/AppBundle/Entity/User.php

and

    src/AppBundle/Resources/config/doctrine/User.orm.yml

&/or also the

    src/AppBundle/Resources/config/doctrine/User.

[2016-10-19 19:06] xabbuh commented on #2279
Yes, you **always** have to create the entity class. You are just free to choose how you like to define the metadata that configure the mapping of your entity to the database schema. Don't know how this could be changed to make it more clear. But I am sure the bundle maintainers are happy to review a PR improving the documentation.

[2016-10-19 19:15] user58258 commented on #2279
Right.  The question's not whether the User class has to be created.

The issue is that the docs present three tabs to a single window,

'Annotations', 'YAML' & 'XML', which elsewhere across the symfony site seems to suggest alternative methods of doing the same thing ...

e.g., http://symfony.com/doc/current/routing.html#routing-examples

If you need to create the Annotations file AND create the

[2016-10-19 19:50] xabbuh commented on #2279
You do not have to create the annotations and the YAML file. It's up to you to choose the preferred config format.

[2016-10-20 10:52] adadgio opened #2280 "Custom user manager error since latest release > Argument 1 passed to FOS\UserBundle\Doctrine\UserManager::__construct()"
After todays composer update with FOS User bundle `"friendsofsymfony/user-bundle": "~2.0@dev",` , i get this new error.

[code]

My user managet looks like this.

[code]

[2016-10-20 11:09] stof commented on #2280
Well, if you use the master branch, you need to be prepared to changes, as it is the dev version of a new major release. And we indeed have changes (and if you use the master branch, you have to check the git history as the changelog may not have been updated yet for them, until the next release).

The signature of the UserManager constructor in FOSUserBundle has indeed changed (merge done a few h

[2016-10-20 11:09] #2280 closed

[2016-10-20 17:37] cirovargas opened #2282 "Automatic login after password reset throwing error"
[2016-10-20 15:28:09] request.CRITICAL: Uncaught PHP Exception Symfony\Component\Debug\Exception\FatalThrowableError: "Type error: Argument 4 passed to FOS\UserBundle\Security\LoginManager::__construct() must be an instance of Symfony\Component\HttpFoundation\RequestStack, instance of appProdProjectContainer given, called in /var/www/htdocs/system/var/cache/prod/appProdProjectContainer.php on line

[2016-10-21 07:05] xabbuh commented on #2282
@cirovargas This should have been fixed by 77034398900c68af92b2f35680d3e6a4a9010008. Does your environment include that commit? Did you clear the cache after updating your dependencies?

[2016-10-21 13:10] cirovargas commented on #2282
Hi!

My last update/cache:clear happened in 2016-10-17 07:51:36, reference "4393a98891a03fb7628c546aee4e5ced699c83de"

[2016-10-21 13:12] cirovargas commented on #2282
Coincidentally, it is the same commit lol

[2016-10-22 10:03] ozzmaster opened #2287 "Catchable Fatal Error: Argument 1 passed to FOS\UserBundle\Doctrine\UserListener::__construct() must be an instance of FOS\UserBundle\Util\PasswordUpdaterInterface, instance of appProdProjectContainer given"
This is the full error, paths anonymised:
[Sat Oct 22 11:58:03.741667 2016] [fcgid:warn] [pid 3508] [client 197.88.153.18:50868] mod_fcgid: stderr: #1 /~/var/cache/prod/appProdProjectContainer.php(1433): FOS\\UserBundle\\Doctrine\\UserListener->__construct(Object(appProdProjectContainer))
[Sat Oct 22 11:58:03.741669 2016] [fcgid:warn] [pid 3508] [client 197.88.153.18:50868] mod_fcgid: stderr: #2 /

[2016-10-22 10:30] xabbuh commented on #2287
This is due to the changes made in #1615. Did you clear the cache after upgrading the bundle?

[2016-10-22 10:41] ozzmaster commented on #2287
I did not. Thanks for the prompt response! Closing issue.

I will now update my scripts to clear the var/cache/ folder with rm.

[2016-10-22 10:41] #2287 closed

[2016-10-24 14:14] leogout opened #2288 "Is the documentation for 1.3 wrong ?"
Hi, I've been trying to use events with v1.3.6, which are described [here](http://symfony.com/doc/current/bundles/FOSUserBundle/controller_events.html).
However, the 1.3.6 (which is part of 1.3.x of the doc, right ?) doesn't seem to have any `FOS\UserBundle\FOSUserEvents` class...

Am I missing something ?

[2016-10-25 08:26] atim140 opened #2290 "Accessing app.user in twig even if path is anonymous (the user is logged in)"
Hello,

I can't figure out how to make it possible to getting app.user or is_granted in twig if the user is logged in.

Use case : it's very common to have a homepage which could be accessed anonymously but also the user can log in. Then, he browse the same page now with his username shown and the possibility to logout.

Now : I've set the path as "anonymous : true" in security.yml.
Result : Even

[2016-10-25 11:34] bgoncalvesdev opened #2291 "UserManager overriding methods"
hi,
I have my own UserManager which overide several  FOS...\UserManager methods and i get into a little issue.
I cannot access the new canonicalFieldsUpdater property as it's private in the abstract FOS\UserBundle\Model\UserManager but I need to access it in my own UseManager.
I can bypass it quick with my own __construct but this look a little "dirty" as I could simply access the property if it w

[2016-10-25 12:11] XWB commented on #2291
Maybe we can change the visibility to protected @stof

[2016-10-25 13:00] mathiasmondofute opened #2292 "Error after composer update"
Hello, I just did an update of fosuser via "composer update " in my Symfony2 project and since then I have this error occurred, it could someone get me out of this problem? Thank you in advance.

request.CRITICAL: Uncaught PHP Exception Symfony\Component\Debug\Exception\ContextErrorException: "Catchable Fatal Error: Argument 1 passed to FOS\UserBundle\Doctrine\UserManager::__construct() must imple

[2016-10-25 13:12] XWB commented on #2292
You need to change the `UserManager`, see https://github.com/FriendsOfSymfony/FOSUserBundle/blob/master/Upgrade.md

[2016-10-25 17:51] sfenne opened #2293 "Missing %email% in password reset"
Hi all,

All of the sudden, the %email% parameter is empty when resetting an e-mail.

Result after successful password reset:
"An email has been sent to . It contains an activation link you must click to activate your account."

The e-mail is sent and everything is fine, except this message. The e-mail column is filled as well (the user has an e-mail).

Any suggestions to why this happens? I've ad

[2016-10-26 12:20] XWB commented on #2293
The message is just "An email has been sent.", see https://github.com/FriendsOfSymfony/FOSUserBundle/blob/master/Resources/translations/FOSUserBundle.en.yml#L54

[2016-10-26 12:25] sfenne commented on #2293
Thank you!

[2016-10-26 12:25] #2293 closed

[2016-10-27 14:02] #1571 closed

[2016-10-28 14:05] pboethig commented on #2272
fos_user.user_provider.username works like a charm for me. Thx very much! Saved my day

[2016-10-30 19:07] damienalexandre commented on #2290
Hi,
this is not a FOSUserBundle issue but more likely a Symfony issue. Could you please share your security.yml configuration?

One possible cause is the "path" option of your firewall not covering the homepage.

[2016-10-31 09:31] atim140 commented on #2290
Hello, thank you for replying @damienalexandre. There is an extract of my security.yml

`    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        login:
            pattern: ^/(login$|register|resetting)
            anonymous: true

[2016-10-31 09:59] damienalexandre commented on #2290
Yes, the `index_root` firewall does not have anything to do with the `main` firewall, so it can't access the session or the user provider.

I suggest you do as follow:
- remove the index_root firewall
- set the main firewall as anonymous: true
- use `access_control` rules allow not fully authenticated user on `^/frontal/index$`, and force IS_AUTHENTICATED_FULLY for everything else

[2016-10-31 10:13] andreas-glaser opened #2297 "SF3 / FOSUserBundle ~1.3 Your requirements could not be resolved to an installable set of packages."
I have just tried to install your this bundle on a new symfony 3 installation and faced dependency issues i did not expect and was not able to resolve easily.

To my best knowledge the commands below should work just fine?!

`andreas@vm-mint-18 ~/development $ symfony new test

 Downloading Symfony...

    5.2 MiB/5.2 MiB ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓  100%

 Prepari

[2016-10-31 10:16] xabbuh commented on #2297
FOSUserBundle 1.3 does not work with Symfony 3. You have to switch to the upcoming 2.0 release.

[2016-10-31 10:19] andreas-glaser commented on #2297
Ok got it... i guess the documentation is a bit misleading.

[2016-10-31 10:19] #2297 closed

[2016-11-01 09:48] stephanvierkant commented on #2224
Any update on this? This issue prevents me from updating to Symfony 3.2 right now.

[2016-11-01 09:54] cedricziel commented on #2224
@stephanvierkant you can "pin" a healthy commit in the `require` section in your `composer.json`.

The last healthy commit is a24e799c8febbae675d41a42b552574887fa1784, so I use this right now and postpones the need to deal with the broken dependency for now:

[code]

[2016-11-01 14:09] ryzhov commented on #2224
this commit [a24e799](https://github.com/FriendsOfSymfony/FOSUserBundle/commit/a24e799c8febbae675d41a42b552574887fa1784l) does not resolve issue for me

[2016-11-01 14:23] cedricziel commented on #2224
I just double checked it. Works fine for me, but I recall having trouble until i manually removed the cache dir.

[2016-11-01 15:55] markussc opened #2298 "Disabled user gets access by resetting password"
For a disabled user (enabled = false, locked = false) it is possible to retrieve the password reset link which allows him to easily access the system. After password is reset, the enabled flag is set to true.
Is this expected behaviour?

[2016-11-02 12:24] SimonHeimberg commented on #2298
maybe related: #1869

[2016-11-02 15:53] kbsali commented on #2224
same issue here and downgrading to a24e799 won't help either! :(

[2016-11-02 16:04] tacman commented on #2224
Friends don't let friends use Propel.

How about dropping Propel support until Propel2 is at least in beta?  For
Propel1 support, use an older version of FOSUserBundle.

If you're upgrading to Symfony 3, you probably should be using an ORM
that's not obsolete or in alpha.

On Wed, Nov 2, 2016 at 11:53 AM, Kevin Saliou <notifications@github.com>
wrote:

[2016-11-02 16:25] patrioticcow opened #2300 "friendsofsymfony/rest-bundle 2.1.0 conflicts with sonata-project/user-bundle[3.1.0]"
fyi

[code]

[2016-11-02 17:42] sharky98 opened #2301 "Create commands to manipulate groups"
It would be a nice addition to be able to create groups in the command line and assign user to it.

It would see command like:

`php bin/console fos:group:create {groupName}`
`php bin/console fos:group:addUser {groupName} {user1} [{user2} {user3} ...]`
`php bin/console fos:group:removeUser {groupName} {user1} [{user2} {user3} ...]`
`php bin/console fos:user:addGroup {user1} {group1} [{group2} {gro

[2016-11-02 18:10] core23 commented on #2300
Wrong repo. You should open this issue in the sonata user bundle, not here.

Btw we, don't support the version 2 of the rest bundle, yet. Feel free to open a PR for this.

[2016-11-02 18:12] core23 commented on #2224
👍 for dropping propel. We can (re)add support later, if someone needs this.

[2016-11-02 18:14] core23 commented on #2300
Refs https://github.com/sonata-project/SonataUserBundle/issues/775

[2016-11-04 15:06] iometrine opened #2303 "redirect after registering in RegistrationController.php"
Hi,
I don't know if it's really what your want in your last commit

[code]

if you put fos_user.registration.confirmation.enabled true, you are redirect to check_email
if you put fos_user.registration.confirmation.enabled false, you are redirect to profile
So you re never redirect towards fos_user_registration_confirmed

How do we do if we want to keep the page confirmed.twig.html ?

[2016-11-06 19:51] jack-fdrv opened #2304 "How to set work FOS via sendmail?"
Hello, I try to set up work FOS via send mail.

How I can do this?

[2016-11-06 20:50] damienalexandre commented on #2304
Hi,

There is nothing to do in FOSUserBundle to dispatch your emails via Sendmail, you just have to configure SwiftMailer the right way, using the "sendmail" transport: http://symfony.com/doc/current/reference/configuration/swiftmailer.html#transport

[2016-11-06 21:58] jack-fdrv opened #2305 "Recover works for not exists usernames and emails."
If I enter non existing email or user name on recover page it will continue say please check your email, I want it say the user not exists, you should register first.
How to fix it?

[2016-11-07 05:00] core23 commented on #2305
This is a general message to stop sniffing who's using your page. If we show the message only to existing users, someone can bruteforce emails.

[2016-11-08 13:30] XWB commented on #2304
See above.

[2016-11-08 13:30] #2304 closed

[2016-11-08 13:30] #2300 closed

[2016-11-08 13:31] XWB commented on #2305
This behavior is as intended.

[2016-11-08 13:31] #2305 closed

[2016-11-08 13:37] XWB commented on #2206
We still have one outstanding PR https://github.com/FriendsOfSymfony/FOSUserBundle/pull/1956

Will try to work on it asap.

[2016-11-08 14:03] XWB commented on #2303
When true, it goes to `fos_user_registration_confirmed`?

[2016-11-08 14:07] XWB commented on #2291
https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2306

[2016-11-08 14:33] iometrine commented on #2303
no, because there is a redirection to EmailConfirmationListener, so when it's true you're redirect on fos_user_registration_check_email

[2016-11-09 02:34] abstrus commented on #1572
Closing this since I don't even remember the context

[2016-11-09 02:34] #1572 closed

[2016-11-09 13:40] XWB commented on #2303
I see what you mean. Not sure yet how to fix that.

[2016-11-10 13:05] XWB commented on #2303
@iometrine Can you try https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2307 ?

[2016-11-10 13:28] XWB commented on #2303
https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2308

[2016-11-10 13:28] #2303 closed

[2016-11-10 13:46] #2292 closed

[2016-11-10 13:47] XWB commented on #2290
Closing as this is not a `FOSUserBundle` issue.

[2016-11-10 13:47] #2290 closed

[2016-11-10 14:24] iometrine commented on #2303
Just to understand  before to try,  what did you do and  what is the workflow now ?

[2016-11-10 14:28] XWB commented on #2303
I simply reverted https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2274

There's no need to perform this check in the controller because the listener is not leaded when `fos_user.registration.confirmation.enabled` is set to false.

https://github.com/FriendsOfSymfony/FOSUserBundle/blob/master/DependencyInjection/FOSUserExtension.php#L150

[2016-11-10 15:03] iometrine commented on #2303
Ok, this is perfect.
if you put fos_user.registration.confirmation.enabled  at true, you are forwarded to check_email
if you put fos_user.registration.confirmation.enabled at  false, you are forwarded to fos_user_registration_confirmed
You've  just lost jsut the forward  to fos_user_profile_show but it's ok for me
Thank you.

[2016-11-11 12:06] codereviewvideos commented on #2224
I've done a little further digging into this, and have a temporary workaround, but not a solution.

`vendor/friendsofsymfony/user-bundle/Resources/config/validation.xml`

https://github.com/FriendsOfSymfony/FOSUserBundle/blob/v2.0.0-alpha3/Resources/config/validation.xml#L97

comment out lines 97 > 183

Cache should now clear.

The issue appears to have been triggered by the inclusion of [the `Val

[2016-11-13 17:43] damienalexandre commented on #2199
You should just have to extend `ProfileFormType` to remove the `current_password` field. There is no constraints on this field if you remove it. What version are you using? Did you configure your new form type in config.yml?

[2016-11-15 09:19] hipio opened #2310 "[Question] When is there a new release?"
When will a new release be done? The last one is from `15 September 2015` and 258 commits behind master (including the change which adds support for Symfony3). This creates issues for people using Symfony3 as they are forced to use an annotation that is not preferred in their `composer.json`-file.

[code]

[2016-11-15 10:25] XWB commented on #2310
Please continue in https://github.com/FriendsOfSymfony/FOSUserBundle/issues/2206

[2016-11-15 10:25] #2310 closed

[2016-11-15 14:49] TrkiSF2 commented on #1668
I am closing this issue as it's expected behaviour but I didn't investigate how the ROLE_USER ended up in the DB.

[2016-11-15 14:49] #1668 closed

[2016-11-15 14:50] #1660 closed

[2016-11-16 17:24] tgalopin commented on #2206
Now that it's merged, is a release possible?

[2016-11-17 14:45] smartpierre opened #2311 "Error with latest version"
When doing a composer update I have this error poping on production :

Any ideas ?

[code]

It looks like it's triggered with assets:install when I add --no-scripts to the composer update everything is fine.

[2016-11-17 16:50] stof commented on #2311
Of course it does not. The dev version of the bundle removed it.

You should run the command yourselves in verbose mode to see the stack trace to understand where the error comes from

[2016-11-18 13:07] lbayerl commented on #2206
Is there anything we can support you to release 2.0.0? E.g. support in documentation, upgrade, examples, ...?

[2016-11-18 15:19] XWB commented on #2291
@bgoncalvesdev Can you check if https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2306 would do the job or did you find another solution to resolve this issue?

[2016-11-21 12:10] airv-b commented on #1655
The problem is still there. (master)
A fix would be possible?

[2016-11-22 08:42] XWB commented on #2224
Can you guys try the latest Symfony 3.2 branch? https://github.com/symfony/symfony/commit/59f99493f8395e85cf175a8f888a22e5a3517ed1

[2016-11-22 09:22] ryzhov commented on #2224
I have same issue on [symfony/symfony@a4edafbd](https://github.com/symfony/symfony/commit/a4edafbd7d82ccea983f04ade3dc220e72f340e2)

[2016-11-22 09:28] codereviewvideos commented on #2224
@XWB - just checked #59f9949 of Symfony, and #4ea37a5 of FOSUserBundle, and the cache clears fine for me :thumbsup:

[2016-11-22 09:30] XWB commented on #2224
@ryzhov You need to use the 3.2 branch, Symfony master branch has not been updated yet.

[2016-11-22 09:35] #2311 closed

[2016-11-22 09:36] XWB commented on #2291
https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2306

[2016-11-22 09:36] #2291 closed

[2016-11-22 09:36] XWB commented on #2282
You need to clear the cache.

[2016-11-22 09:36] #2282 closed

[2016-11-22 09:37] XWB commented on #2279
See above.

[2016-11-22 09:37] #2279 closed

[2016-11-22 09:41] ryzhov commented on #2224
still not work in this environment

symfony/symfony                      3.2.x-dev 59f9949  The Symfony PHP framework
friendsofsymfony/user-bundle   dev-master dd966ca Symfony FOSUserBundle

[2016-11-22 09:45] XWB commented on #2181
Thanks https://github.com/FriendsOfSymfony/FOSUserBundle/commit/12db0ce31769b19597be741a568fe9352fc1baba

[2016-11-22 09:45] #2181 closed

[2016-11-22 09:46] XWB commented on #2201
Same issue as https://github.com/FriendsOfSymfony/FOSUserBundle/issues/2224

[2016-11-22 09:46] #2201 closed

[2016-11-22 10:05] XWB commented on #2156
Make sure to remove the cache.

[2016-11-22 10:05] #2156 closed

[2016-11-22 10:06] XWB commented on #2147
See comments above.

[2016-11-22 10:06] #2147 closed

[2016-11-22 10:08] XWB commented on #2178
See example above.

[2016-11-22 10:08] #2178 closed

[2016-11-22 10:08] XWB commented on #2139
See above.

[2016-11-22 10:08] #2139 closed

[2016-11-22 10:10] XWB commented on #2146
This has been discussed in the past, overriding the controller is the way to go.

[2016-11-22 10:10] #2146 closed

[2016-11-22 10:10] XWB commented on #2121
Feel free to open a PR.

[2016-11-22 10:10] #2121 closed

[2016-11-22 10:19] XWB commented on #2008
https://github.com/FriendsOfSymfony/FOSUserBundle/releases/tag/v1.3.7

[2016-11-22 10:19] #2008 closed

[2016-11-22 10:20] XWB commented on #2015
Closing this issue as it does not seem related to FOSUserBundle.

[2016-11-22 10:20] #2015 closed

[2016-11-22 10:22] #1954 closed

[2016-11-22 10:23] XWB commented on #1787
We do not support Propel 2.

[2016-11-22 10:23] #1787 closed

[2016-11-22 10:23] #1795 closed

[2016-11-22 10:24] stof commented on #2008
@XWB next time you do releases, please don't forget to update the changelog file first

[2016-11-22 10:37] XWB commented on #2008
@stof https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2312

[2016-11-22 10:44] XWB commented on #2206
Before we do so, I have three questions:

- Does @stof has some breaking changes he wants to be merged in this release?
- What to do with Propel, it may have been fixed in https://github.com/symfony/symfony/commit/59f99493f8395e85cf175a8f888a22e5a3517ed1 but I cannot test it.
- Are we happy with names of the newest [events](https://github.com/FriendsOfSymfony/FOSUserBundle/blob/master/FOSUserEvent

[2016-11-22 10:57] #747 closed

[2016-11-22 11:06] XWB commented on #1019
We can continue in https://github.com/FriendsOfSymfony/FOSUserBundle/issues/2206

[2016-11-22 11:06] #1019 closed

[2016-11-22 11:07] dkorsak commented on #2224
Does not work.
After add to te composer.json

[code]
composer still creating autoload class map with Propel files (composer bug?)
Event if I remove manually Propel files from composer autload class, still does not work.

Composer\Autoload\ClassLoader->loadClass function if will not find class in the class map, will find
file friendsofsymfony/user-bundle/Propel/User.php by path.

ValidatorCacheWarm

[2016-11-22 11:09] stof commented on #2224
@dkorsak not a composer bug. As these files are in the FOSUserBundle package, the exclude rule would have to be added in the FOSUserBundle metadata

[2016-11-22 11:43] XWB commented on #2224
Propel support has been removed.

https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2309

[2016-11-22 11:47] Pierstoval commented on #2206
I'm totally 👍 👍 👍 👍 👍 for this 👏

[2016-11-22 11:53] ryzhov commented on #2224
now cache:clear works as expected, thanks !

[2016-11-22 11:54] XWB commented on #1546
This should be resolved now.

[2016-11-22 11:54] #1546 closed

[2016-11-22 11:55] XWB commented on #1424
Closing this outdated issue (Symfony 2.3 is really old).

[2016-11-22 11:55] #1424 closed

[2016-11-22 11:57] #1241 closed

[2016-11-22 11:58] XWB commented on #1372
Is being worked on, see https://github.com/FriendsOfSymfony/FOSUserBundle/issues/2206

[2016-11-22 11:58] #1372 closed

[2016-11-22 11:58] #2224 closed

[2016-11-22 12:00] XWB commented on #1305
We now support Symfony >= 2.7

[2016-11-22 12:00] #1305 closed

[2016-11-22 12:00] XWB commented on #1188
See above.

[2016-11-22 12:00] #1188 closed

[2016-11-22 12:00] XWB commented on #1124
See above.

[2016-11-22 12:00] #1124 closed

[2016-11-22 12:00] XWB commented on #1104
See above.

[2016-11-22 12:00] #1104 closed

[2016-11-22 12:04] XWB commented on #2212
This is something we can add in a future 2.x release.

[2016-11-22 12:31] XWB commented on #2206
I just merged https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2309 so Propel support is now gone in the latest master branch.

If @stof sends his remaining PR's, we can tag the next release.

[2016-11-22 12:33] XWB commented on #2251
:+1:

[2016-11-22 12:33] #2251 closed

[2016-11-22 13:00] sstok commented on #1188
FYI, the RollerworksMultiUserBundle is no longer maintained.

[2016-11-23 14:20] smartpierre commented on #2311
It looks there was a problem with my memcache instance not actually flushing old metadata...

[2016-11-25 20:34] darrylhein opened #2316 "Improve documentation related to overriding validation groups"
I've noticed that the page regarding overriding validation groups is quite short and doesn't really provide the full details: https://github.com/FriendsOfSymfony/FOSUserBundle/blob/master/Resources/doc/overriding_validation.rst

The piece of the details that I feel is missing is how to actually change which validation groups you want applied to a form, specifically after creating new groups.

Befo

[2016-11-26 21:47] XWB commented on #2316
Always :+1: for improving documentation.

[2016-11-28 08:38] #946 closed

[2016-11-28 08:38] #1066 closed

[2016-11-28 09:14] XWB commented on #1452
We now have several events in `ResettingController`.

[2016-11-28 09:14] #1452 closed

[2016-11-28 09:15] XWB commented on #840
:+1:

[2016-11-28 09:16] XWB commented on #732
https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2250

[2016-11-28 09:16] #732 closed

[2016-11-28 09:29] XWB commented on #2298
It's not related to #1869, we explicitly set enabled to true in https://github.com/FriendsOfSymfony/FOSUserBundle/blob/master/EventListener/ResettingListener.php#L77

[2016-11-28 09:34] stof commented on #2206
@XWB remaining blocker for the release: figuring out why one of the jobs fail on Travis in the master branch (I don't want to release with a red build)

[2016-11-28 09:36] XWB commented on #2288
Must be a bug on the Symfony website, the 1.3 branch does not contains this file.

[2016-11-28 09:36] XWB commented on #2184
Must be a bug on the Symfony website, the 1.3 branch does not contains this reference.

[2016-11-28 09:43] stof commented on #2184
@javiereguiluz can you check this ? Having the switcher displaying the wrong version compared to the content on the website is not nice.

[2016-11-28 09:56] XWB commented on #2023
Sounds like resolved.

[2016-11-28 09:56] #2023 closed

[2016-11-28 09:59] XWB commented on #1868
Symfony comes with https://github.com/symfony/polyfill-mbstring

[2016-11-28 09:59] #1868 closed

[2016-11-28 10:18] XWB commented on #2206
@stof Well https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2319 seems to fix it, I'm not sure why.

[2016-11-28 10:45] XWB commented on #1810
As intended indeed.

[2016-11-28 10:45] #1810 closed

[2016-11-28 10:46] XWB commented on #1649
See above.

[2016-11-28 10:46] #1649 closed

[2016-11-28 10:47] XWB commented on #1639
See above.

[2016-11-28 10:47] #1639 closed

[2016-11-28 10:49] XWB commented on #1361
Not related to this bundle.

[2016-11-28 10:49] #1361 closed

[2016-11-28 10:50] XWB commented on #1172
This was changed to `UserInterface` some time ago.

[2016-11-28 10:50] #1172 closed

[2016-11-28 10:52] XWB commented on #1111
Not related to this bundle.

[2016-11-28 10:52] #1111 closed

[2016-11-28 10:54] #1067 closed

[2016-11-28 10:57] XWB commented on #785
This was added some time ago.

[2016-11-28 10:57] #785 closed

[2016-11-28 10:58] XWB commented on #666
You need to follow the readme file.

[2016-11-28 10:58] #666 closed

[2016-11-28 10:59] #631 closed

[2016-11-28 11:00] XWB commented on #2288
Ping @javiereguiluz

[2016-11-28 11:04] XWB commented on #1916
See above.

[2016-11-28 11:04] #1916 closed

[2016-11-28 11:06] XWB commented on #1754
Closing this outdated issue.

[2016-11-28 11:06] #1754 closed

[2016-11-28 11:07] XWB commented on #1706
See above.

[2016-11-28 11:07] #1706 closed

[2016-11-28 11:07] stof commented on #2301
I'm -1 for this, as I would rather remove groups entirely.

Using the role inheritance is better when the role inheritance is fixed.
And when access need to be managed in batch in a configurable way, using custom voters based on the business logic is more powerful than using the FOSUserBundle feature assigning extra roles from the groups the user is assigned to.

This feature is a legacy from the

[2016-11-28 11:11] #1569 closed

[2016-11-28 11:11] javiereguiluz commented on #2288
Yes, it's a problem on our side. I can't fix this at the moment ... but it's at the top of my list when changes are allowed again for symfony.com. I'm sorry and thank you for your patience.

[2016-11-28 11:11] XWB commented on #1570
See above.

[2016-11-28 11:11] #1570 closed

[2016-11-28 11:12] XWB commented on #1500
Closing this outdated issue.

[2016-11-28 11:12] #1500 closed

[2016-11-28 11:13] #1401 closed

[2016-11-28 11:14] XWB commented on #1321
Ticket is 3 years old => closing.

[2016-11-28 11:14] #1321 closed

[2016-11-28 11:15] XWB commented on #1217
Closing this outdated issue.

[2016-11-28 11:15] #1217 closed

[2016-11-28 11:15] XWB commented on #1221
See above.

[2016-11-28 11:15] #1221 closed

[2016-11-28 11:16] XWB commented on #1168
:+1:

[2016-11-28 11:16] #1168 closed

[2016-11-28 11:18] XWB commented on #2184
Closing this and keeping https://github.com/FriendsOfSymfony/FOSUserBundle/issues/2288 as reminder.

[2016-11-28 11:18] #2184 closed

[2016-11-28 11:19] XWB commented on #2108
Sounds like resolved.

[2016-11-28 11:19] #2108 closed

[2016-11-28 11:20] XWB commented on #2208
You need to mock `RegistrationFormType`.

[2016-11-28 11:20] #2208 closed

[2016-11-28 11:21] XWB commented on #2105
Please us the latest master version.

[2016-11-28 11:21] #2105 closed

[2016-11-28 11:22] XWB commented on #2104
We cannot help you without any debug info.

[2016-11-28 11:22] #2104 closed

[2016-11-28 11:22] XWB commented on #2098
Not related to this bundle => closing.

[2016-11-28 11:22] #2098 closed

[2016-11-28 11:23] XWB commented on #2094
See above.

[2016-11-28 11:23] #2094 closed

[2016-11-28 11:25] stof commented on #1111
And btw, this should be fixed by #1615 as we don't inject the user manager in the validator anymore (we only inject the canonical fields updater)

[2016-11-28 11:25] deyvid5 commented on #1649
Silly mistake. Thank you!

[2016-11-28 11:28] XWB commented on #1995
I often use http://odino.org/profiling-php-applications-from-the-browser/ in combination with xdebug.

I will now close this ticket, feel free to open a new issue if you still faces a problem.

[2016-11-28 11:28] #1995 closed

[2016-11-28 11:29] XWB commented on #1958
These fields have been removed.

[2016-11-28 11:29] #1958 closed

[2016-11-28 11:52] jakenoble opened #2324 "Disable flash"
Is there a param to disable the flash messages completely?

[2016-11-28 11:56] XWB commented on #2324
There is no such setting.

[2016-11-28 12:09] XWB commented on #2206
@stof Master branch is green again, we are good to go.

[2016-11-28 13:23] stof commented on #2324
there is one in 2.0 (since alpha1):

[code]

[2016-11-28 13:26] XWB commented on #2324
Not sure how I missed that one, apologies.

[2016-11-28 15:15] numediaweb opened #2325 "Warning: array_merge() in MimeTypeListener"
I have this issue in vendor/friendsofsymfony/rest-bundle/EventListener/MimeTypeListener.php at line 57:
[code]
I am using PHP 5.6.25 with:
[code]

[2016-11-28 15:20] #2325 closed

[2016-11-28 15:27] XWB commented on #807
Closing as FOSTwitterBundle and FOSFacebookBundle are not relevant anymore.

[2016-11-28 15:27] #807 closed

[2016-11-28 15:30] XWB commented on #1803
You need to clear the cache first.

[2016-11-28 15:30] #1803 closed

[2016-11-28 16:24] gicush0r opened #2326 "Salt field is null"
Hi,

Few minutes ago I'm update composer libraries, after this registration page failed, the message is this: Not null violation: 7 ERROR: null value in column "salt" violates not-null constraint

After this I see the code of User.php from Model and in the __construct there aren't setting for salt.

I'm add the salt setting with "base_convert(sha1(uniqid(mt_rand(), true)), 16, 36)" on my Users.php

[2016-11-28 16:29] stof commented on #2326
This is totally expected, as we made the field nullable in the latest master branch.

[2016-11-28 16:31] gicush0r commented on #2326
Ok,

Tks stof,

I'm try to update schema and there are some changes:

ALTER TABLE users DROP locked;
ALTER TABLE users DROP expires_at;
ALTER TABLE users DROP credentials_expire_at;
ALTER TABLE users ALTER salt DROP NOT NULL;

Now all is ok.

[2016-11-28 16:31] #2326 closed

[2016-11-29 12:01] ethernal commented on #2239
I am experiencing the same thing on Sf 2.8.x and php 5.6 and 7.

Did you manage to find a workaround? ..or...How an I invalidate the cache )or force revalidation of page on logout/login?)

[2016-11-29 12:41] XWB commented on #874
Several events have been added.

[2016-11-29 12:41] #874 closed

[2016-11-29 12:42] XWB commented on #828
Several events have been added.

[2016-11-29 12:42] #828 closed

[2016-11-29 13:48] stof commented on #2239
the login and logout features are not provided by FOSUserBundle but by Symfony's SecurityBundle. So I'm closing this issue as it is not related to the bundle.

And when using HTTP caching, you need to be careful about including the right ``Vary`` header if you want to have different versions of your cached content depending on the authentication. Otherwise the same cache will be served to everyone

[2016-11-29 13:48] #2239 closed

[2016-11-29 15:17] XWB commented on #2206
https://github.com/FriendsOfSymfony/FOSUserBundle/releases/tag/v2.0.0-beta1

[2016-11-29 15:17] #2206 closed

[2016-11-29 16:08] lbayerl commented on #2206
Thank you so much!

[2016-11-29 16:42] Pierstoval commented on #2206
Awesome 👏 👍 🎉

[2016-11-29 17:31] OskarStark commented on #2206
Great work @XWB 👏

[2016-11-30 10:08] XWB commented on #2087
You may send a PR, we can discuss the implementation.

[2016-11-30 10:08] #2087 closed

[2016-11-30 10:08] #2324 closed

[2016-11-30 10:08] XWB commented on #2301
Agreed.

[2016-11-30 10:08] #2301 closed

[2016-11-30 10:13] stof commented on #2087
I suggest you to submit an implementation of uniqueness constraint to the PHPCR bundle, or at least a feature request there. I'd rather not ship such an implementation in FOSUserBundle itself, as it is more the job of the PHPCR bundle.

[2016-11-30 19:23] ninsuo opened #2334 "Email lookup possible through the registration form"
Hello,

Following #2250, I would like to point out that discovery of valid email addresses is still possible using registration form's validation.

![screen shot 2016-11-30 at 20 18 51](https://cloud.githubusercontent.com/assets/4152132/20767364/406bf516-b73a-11e6-9d9c-daf055718167.png)

There are some solutions:

## captcha

- Have a (re)captcha validated first, this will remove bots (but isn't a

[2016-11-30 22:03] XWB commented on #2334
What about changing the text to "The email is not valid"?

[2016-12-01 03:38] charafsalmi opened #2335 "I can't believe how hard is to embed a login form with a CSRF for a beginner/average developer"
I just wanted to embed a login form in my header. I thought doing it by writing the html in my twig is the easiest way.

I tried this : http://stackoverflow.com/questions/8040512/fosuserbundle-embedding-the-login-form-and-choosing-its-template

I got "The service twig has a dependency on a non-existent service "form.csrf_provider"."

I tried this : http://stackoverflow.com/a/35777023/2058672

Chan

[2016-12-01 12:14] danitome24 opened #2336 "Use existing table with FOSUserBundle"
Hi,

I have an existing table called users_web with fields user (username), email, password... And I want to use FOSRestBundle with existing mapping. How to handle it?

Thanks!

[2016-12-01 12:25] XWB commented on #2336
If you use Doctrine you can use annotations to define the mappings.

[2016-12-01 13:27] danitome24 commented on #2336
@XWB Could you show me a sample?

[2016-12-01 23:29] jhice opened #2339 "Blank page in production after recent update"
Hi,
we've done a composer update recently, updating this bundle.

The update implies the deletions of some fields like "credentientialsExpireAt.
There was bugs, we put those fields in our User class and it was ok.

Doctrine schema update done, caches cleared.

At this time all is ok in local but not in the pre-prod environment, with the app_dev.php all is ok but in prod mode the login URL gives a

[2016-12-02 08:55] ninsuo commented on #2334
Doesn't make sense in a functional point of view. Imagine you have a member that forgot he already registered and legitimately get "this email is not valid"; this message will create immediate friction.

[2016-12-02 10:34] XWB commented on #2336
Something like this:

[code]

[2016-12-02 10:36] XWB commented on #2339
Well you could check the server error logs.

[2016-12-02 10:39] jhice commented on #2339
I did it but I'm on a shared server and the error logs shows... nothing :/

[2016-12-02 10:46] XWB commented on #2339
If `app/logs/prod.log` is empty, the next step would be to check the Apache log. Is that possible on the shared server?

[2016-12-02 10:48] stof commented on #2339
maybe you have a doctrine metadata cache in prod ?
Be careful that when using APC as cache, you cannot clear it from the CLI, as APC (and APCu) has separate caches for each SAPI.

[2016-12-02 11:34] XWB commented on #2335
Calling `{{ render(controller('FOSUserBundle:Security:login')) }}` is fine, you need to overwrite the login template as defined in http://symfony.com/doc/current/templating/overriding.html

[2016-12-02 11:34] missaouiaymen opened #2342 "Symfony 3 mise ajout des champs à partir de formulaire (action Ajout)"
Bonjour,
Je suis débutant en Symfony3 Php framework ,j'ai créé mon premier projet **Maps** qui contient deux classes intitulé
 **Continent(**id continent**, nom, population, nombre de pays)
Pays(**id pays,** nom, population,id_continent)**
**mon problème :** lorsque j'ajout un pays je veux que le nombre de population s'additionnent avec celui-ci dans leur continent .
solution en algorithme : conti

[2016-12-02 11:39] dcognata commented on #2342
L'issue n'est pas une aide.
Un forum de prog te sera d'une meilleure aide.

[2016-12-02 11:44] exchentrix commented on #2206
Thank you very much! 👍

[2016-12-02 11:44] stof commented on #2342
Closing this issue, as it has strictly nothing to do with FOSUserBundle

[2016-12-02 11:44] #2342 closed

[2016-12-02 11:53] jhice commented on #2339
Thanks to your hint XWB I read the logs in the prod folder (it's a copy of the pre-prod folder that doesnt throw any error) and *the error was there*. The field "locked" were missing, I updated the User entity and it's ok.

But it still crashes on the pre-prod environment (again, same machine, same bdd, same git source) there is something failing somewhere...

@stof : no doctrine metadata cache co

[2016-12-02 11:53] #2339 closed

[2016-12-02 13:37] damienalexandre commented on #1699
As you can see in the providers, all the "find" methods are calling the UserManager, which is calling the doctrine repository: https://github.com/FriendsOfSymfony/FOSUserBundle/blob/master/Doctrine/UserManager.php

So you just have to override the doctrine `findOneBy` method to add your join.

[2016-12-02 13:42] damienalexandre commented on #1687
Without more informations we can't help you. If this issue is resolved feel free to close it as it's looks like it was an issue on your code.

[2016-12-02 13:46] damienalexandre commented on #1684
There is no AccessDeniedListener anymore.

[2016-12-02 14:08] damienalexandre commented on #1655
Can you describe more precisely the use case for this feature? Because when a form has an error, it's testable from the twig view too.

[2016-12-02 14:16] damienalexandre commented on #1644
Thanks for posting you solution, extending the mailer is the way to go, and I don't think that's should be the responsibility of FOSUserBundle to support this, as this this related to HTML emails, which the bundle does not provide (only txt part is provided).

[2016-12-02 14:22] stof commented on #1684
AFAIK, we never had such a listener.

[2016-12-02 14:22] #1684 closed

[2016-12-02 14:25] stof commented on #1699
The other solution would be to register the ``entity`` provider instead of using the FOSUserBundle if you need a custom DB query (which will be specific to the ORM/ODM you use anyway).

[2016-12-02 14:25] pculka commented on #1644
well as FOSUserBundle really does SEND e-mails, maybe some logic or documentation should reflect the possibility to adapt the E-Mails being sent from a project. The way I've done it is rather crude and FOSUB is lacking support for this particular feature, which is rather cruicial in developing user-friendly software.
I would recommend at least better documentation in this matter

[2016-12-02 14:29] damienalexandre commented on #2234
When you run the doctrine:schema:update command, did it create / show the usernameCanonical? Does the field have been created in your database?

[2016-12-02 14:31] stof commented on #2234
I suggest you to update DoctrineBundle to its latest version. 1.2.0 is dead old, and may not support the feature we use to register mapping shipped in non-autodetected locations (I don't remember when it was implemented).
the current DoctrineBundle release is 1.6.4

[2016-12-03 09:15] damienalexandre commented on #1595
It's really hard to help you without code or error trace and the link provided is broken. Do you have more details about your error?
If you resolved this issue already, you can close the ticket, thanks!

[2016-12-03 10:00] geoffrey-brier commented on #2075
If this can help, it's working fine for me. My config looks exactly like yours and this is the require section of the `composer.json`.

[code]

Did you add the annotation `@MongoDB\Document` on the `User` class?

Also, not sure if this is intended but you're using both doctrine ORM and ODM.

[2016-12-03 10:16] damienalexandre commented on #1788
The forms are using the twig functions, except for the Login form which is not relying on the Form component because the content of the form is read by a firewall.

The register form as example:

[code]

[2016-12-03 10:24] damienalexandre commented on #1784
It looks like your issue is not related to this bundle implementation. And I suggest you have a look at the Form component documentation ([here](https://symfony.com/doc/current/form/form_dependencies.html#define-your-form-as-a-service)) as it looks like you just need to add a dependency on your form service.

[2016-12-03 10:47] GregoireHebert commented on #2223
@mappedinn what is exactly your use case ?
A way of doing is to authorize anonymous authentication and then for each entry point you want to secure, ask the user to be fully authenticated.

[2016-12-03 10:50] damienalexandre commented on #1601
Yes I think you should add dots on flash messages too, as they are sentences :+1:

[2016-12-03 10:54] robertfausk commented on #1601
@damienalexandre Sorry for deleting my message. I will create an own PR for trailing dots on flash messages.

[2016-12-03 11:00] damienalexandre commented on #1757
Sending the form data should not be an issue (serialize the data, build the AJAX request, that's builtin jQuery), the issue is probably displaying the updated form with errors / flash messages...

The way to go is to build your own views, like any other bundle.

[2016-12-03 11:06] bschultz commented on #1573
The passwordAlreadyRequested view got deleted in #2250 to not indicate user accounts.
So for me it seems the resetting.password_already_requested is now obsolete.

The token lifetime is actually supported in resetting.check_email but it only supports at least 1 hour and only whole hours due to this code: https://github.com/FriendsOfSymfony/FOSUserBundle/blob/master/Controller/ResettingController.p

[2016-12-03 11:08] damienalexandre commented on #1745
Please provide more clear instructions about the limits and issues you are facing:
- FOSUserBundle version
- configuration
- what you are trying to achieve
- if you share code, use the GitHub provided markdown styling https://guides.github.com/features/mastering-markdown/

[2016-12-03 11:11] damienalexandre commented on #1573
I think that's OK to display an approximation, and as `floor` is used for the ResettingController, that's may be the logic to keep in other places IMO.

[2016-12-03 11:17] damienalexandre commented on #1744
createUser just build an User object, the form is then writing the data in it, and then the validation can be called. That's the way to go and it makes sense here.

You are talking about validating the username uniqueness but that's already part of the Bundle: https://github.com/FriendsOfSymfony/FOSUserBundle/blob/4cb7a29869e4a9bef4f51986d48b1a3af76d3f48/Resources/config/storage-validation/orm.xml

[2016-12-03 11:25] damienalexandre commented on #1728
Works as expected on beta1,
did you customize anything like the email templates? Could you provide more informations about your issue or how your resolved it maybe?

Thanks

[2016-12-03 11:25] bschultz commented on #1573
So you mean keeping the `floor` in ResettingController?

IMO currently there is a wrong approximation due to the usage of `floor`.
If one define a token_ttl lower than 3600 the message will be

If the token_ttl is greater than 1 hour but lower than 2 hours the message will be

So I guess it will be "better" to use `ceil` ?

[2016-12-03 11:29] damienalexandre commented on #1573
Ok, I agree with you, let's switch to `ceil` :+1:

[2016-12-03 11:29] steveWinter commented on #1573
I agree that using ceil seems like the best approach - better to under-promise, and over-deliver

[2016-12-03 11:47] steveWinter commented on #1735
This issue does not appear to have anything to do with the FOSUserBundle.

Are you certain that
`MyBackendBund\Entity\Mountain`
exists...?

And that there is an entry in the associated table with
`id=web`

It almost appears as if your route is being too greedy, since
`/{id}`
will match **every** URL which contains only a single parameter, e.g. /web /foo /bar etc

@sruj if you reverse the order in

[2016-12-03 12:08] Quentin-M commented on #1728
This issue has been authored based on the behavior of a commit from Mar 5, 2014. Closing.

[2016-12-03 12:40] damienalexandre commented on #1975
`AttributeOverride` only works for doctrine mapping, not validation rules. As there is no way to extend validation rules in a Symfony Bundle, you need to follow those steps: http://symfony.com/doc/current/bundles/override.html#validation-metadata

[2016-12-03 12:50] damienalexandre commented on #1962
Which version were you using? It looks like your `user_class` parameter is not taken into account.

Feel free to close if you fixed this issue.

[2016-12-03 12:59] damienalexandre commented on #1960
I can't reproduce this issue, can you provide more informations?

- `composer info` output
- email template used
- fos_user configuration

Thanks

[2016-12-03 13:10] damienalexandre commented on #1894
Yes the reset password controller call `findUserByUsernameOrEmail` now, so this issue is not valid anymore.

[2016-12-03 13:11] damienalexandre commented on #1893
@houssrad Is this issue still open for a reason? How can we help you?

[2016-12-03 13:14] damienalexandre commented on #1879
@JuanDaniel Is this issue still relevant? Did you manage to understand this problem on your projet?

We can't help you without informations.

[2016-12-03 13:24] damienalexandre commented on #1679
Related to https://github.com/FriendsOfSymfony/FOSUserBundle/issues/1866

[2016-12-03 13:37] damienalexandre commented on #1963
I don't think this can be fixed correctly using two fields like the `username_email` provider do, even with an option you will still have one bad behavior, in one way or another.

Also the "c)" option does not exists currently.

[2016-12-03 13:42] damienalexandre commented on #2083
Can you provide more informations? Which version of FOSUserBundle are you using? Did you extends the controllers? What is your fos_user configuration?

[2016-12-03 13:44] damienalexandre commented on #2075
We need more informations to help you out:
- did you test with the latest beta1 release?
- did you follow the instructions here? http://symfony.com/doc/current/bundles/FOSUserBundle/index.html#b-mongodb-user-class
- can you paste your User class here?

Thanks

[2016-12-03 13:49] damienalexandre commented on #2036
Fixed in https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2187 & https://github.com/FriendsOfSymfony/FOSUserBundle/issues/2182

[2016-12-03 13:53] damienalexandre commented on #2017
I can't reproduce with beta1, can you provide more informations or maybe retry?

[2016-12-03 13:56] damienalexandre commented on #1984
That's not related to FOSUserBundle but to Symfony security. The access_control rules are regexp: https://symfony.com/doc/2.7/security/access_control.html#main

So you should use something like:

[code]

[2016-12-03 14:02] damienalexandre commented on #1982
That's strange; could you provide a more complete stack trace or code sample to allow contributors to reproduce your error?

[2016-12-03 14:03] damienalexandre commented on #1981
What do you mean by "locked"? We need more information to be able to help you out.

[2016-12-03 14:05] damienalexandre commented on #1679
Related to #1979

[2016-12-03 14:06] damienalexandre commented on #1979
That's not possible at the moment, see #1679 for more informations.

[2016-12-03 14:32] steveWinter commented on #1679
I've created PR https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2350 to include documentation updates

[2016-12-03 14:41] steveWinter commented on #1679
And PR https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2351 to include a note in the command output.

[2016-12-03 15:04] steveWinter commented on #1720
This issue appears to have been addressed:
[code]
and results in the correct construction in the DB:

<img width="551" alt="screen shot 2016-12-03 at 16 03 04" src="https://cloud.githubusercontent.com/assets/1171712/20860175/14daa764-b972-11e6-9fbc-9378911869ca.png">

[2016-12-03 15:32] XWB commented on #1700
https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2343

[2016-12-03 15:32] #1700 closed

[2016-12-03 15:34] steveWinter opened #2353 "[RFC] Invalidating user logins on demote or deactivate"
Issue https://github.com/FriendsOfSymfony/FOSUserBundle/issues/1679 identifies the fact that a user must log out and back in again for promote/demote to be applied.

In the case of promote this isn't much of a concern, however in the case of demote (and even more-so for 'Deactivate' which isn't mentioned in the issue) if the user is currently logged in then they need to have this change applied im

[2016-12-03 15:38] XWB commented on #1601
https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2344

[2016-12-03 15:38] #1601 closed

[2016-12-03 15:41] #1768 closed

[2016-12-03 15:42] damienalexandre opened #2354 "SymfonyCon Hackday: General issues cleanup"
A bunch of us at SymfonyCon tried to list a bunch of issues that are either:
- not relevant anymore (because fixed i.e.)
- out of date
- answered and not closed
- just not belonging to this repository

Most of the ~200 issues of FOSUserBundle are not real bugs or features to fix, and getting rid of them could help a lot building a more clear road-map and vision for this bundle.

I also would like

[2016-12-03 15:43] #1573 closed

[2016-12-03 15:48] #1799 closed

[2016-12-03 15:51] rudirocha opened #2355 "Missing attributes for model User"
Hey,
I just ran ` composer update ` and for the last commit it seems some attributes were missing on User model class
`Updating friendsofsymfony/user-bundle dev-master (3015f09 => 507ae09) `

[code]

Has someone the same problem?

[2016-12-03 15:53] #1701 closed

[2016-12-03 15:54] #1687 closed

[2016-12-03 15:54] #1699 closed

[2016-12-03 15:54] #1680 closed

[2016-12-03 15:54] #1643 closed

[2016-12-03 15:54] #1631 closed

[2016-12-03 15:54] #1595 closed

[2016-12-03 15:54] #1861 closed

[2016-12-03 15:55] #1788 closed

[2016-12-03 15:55] #1784 closed

[2016-12-03 15:55] #1762 closed

[2016-12-03 15:55] #1688 closed

[2016-12-03 15:55] #1644 closed

[2016-12-03 15:55] #1757 closed

[2016-12-03 15:56] damienalexandre commented on #2355
Hi, what error did you get?
The  expired and credentialsExpired field have been removed from beta1, see https://github.com/FriendsOfSymfony/FOSUserBundle/blob/master/Changelog.md

[2016-12-03 15:56] #1745 closed

[2016-12-03 15:56] #1744 closed

[2016-12-03 15:56] #1716 closed

[2016-12-03 15:56] #1735 closed

[2016-12-03 15:56] #1975 closed

[2016-12-03 15:56] #1972 closed

[2016-12-03 15:56] #1965 closed

[2016-12-03 15:57] #1896 closed

[2016-12-03 15:58] #1728 closed

[2016-12-03 15:58] #1720 closed

[2016-12-03 15:58] #1979 closed

[2016-12-03 15:58] #1984 closed

[2016-12-03 15:58] #2036 closed

[2016-12-03 15:59] #1867 closed

[2016-12-03 15:59] #1888 closed

[2016-12-03 15:59] #1894 closed

[2016-12-03 16:01] XWB commented on #2354
Thanks for the feedback, I just closed several issues.

[2016-12-03 16:03] rudirocha commented on #2355
I got ReflectionException.
After create the issue I've tried to update Symfony to v3.2 and that lead to update again FosUserBundle
`  Updating friendsofsymfony/user-bundle dev-master (507ae09 => a38940d) `
Same error came out. One ReflectionException for each missing property until I added them to the file.

[code]

[2016-12-03 16:08] XWB commented on #2355
Try removing the cache and run composer again.

[2016-12-03 16:10] XWB commented on #1638
See https://github.com/FriendsOfSymfony/FOSUserBundle/issues/2234 for some feedback.

[2016-12-03 16:10] #1638 closed

[2016-12-03 16:10] #1012 closed

[2016-12-03 16:11] #1806 closed

[2016-12-03 16:11] rudirocha commented on #2355
I've tried that. I manually removed the ` /var/cache ` folder and running ` composer update ` again
[code]
It could be some other dependency or something else?

[2016-12-03 16:18] XWB commented on #1747
https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2352

[2016-12-03 16:18] #1747 closed

[2016-12-03 22:02] christophe-44-27 commented on #2355
I have the same problem, some fields are deleted as locked for example.

Why ? And why there is not stable branch ? We use the master as reference for the symfony versions 2.7+

[2016-12-04 08:52] core23 commented on #2355
There were several discussion why there is not stable branch. The team is working very hard on a stable version. Using the `dev-master` for production is always a bad idea. Don't do this, ever!

[2016-12-04 09:49] christophe-44-27 commented on #2355
I understand that the team is working hard on a stable version, but in the documentation we can see that they give us this step 1 :

Step 1: Download FOSUserBundle using composer¶
Require the bundle with composer:

$ composer require friendsofsymfony/user-bundle **"~2.0@dev"**

And they also said that " **This version of the bundle requires Symfony 2.7+. If you are using an older Symfony version,

[2016-12-04 22:50] rudirocha commented on #2355
@christophe-44-27 we have always chance to keep a stable version for our application. A composer update, in my opinion, should be done like a "test approach" and ensure that no errors exist before send to production like @core23 said.

Regarding this issue, I think FOS team can check if they have this error. If some information is need please ping :)
And any help need as @christophe-44-27 suggeste

[2016-12-05 11:01] stof commented on #1893
Closing as this is not about FOSUserBundle anyway (this is about a bad understanding of the Security component itself)

[2016-12-05 11:01] #1893 closed

[2016-12-05 11:03] stof commented on #1879
if you use 1.3.6, the entity must extend ``FOS\UserBundle\Entity\User``, not ``FOS\UserBundle\Model\User``.
It looks like you were mixing things from 2.0.x (where the intermediate ``FOS\UserBundle\Entity\User`` class is indeed gone)

[2016-12-05 11:03] #1879 closed

[2016-12-05 11:04] stof commented on #2083
This looks like you are overriding the Twig ``app`` global variable with something else than the variable shipped in TwigBundle. This is not something we want to support.

[2016-12-05 11:04] #2083 closed

[2016-12-05 11:09] XWB commented on #2355
Well you can always use the latest beta release instead of relying on master.

https://github.com/FriendsOfSymfony/FOSUserBundle/releases/tag/v2.0.0-beta1

[2016-12-05 11:14] stof commented on #2355
If you use the APC cache for Doctrine mapping, you need to clear the APC cache, otherwise the cache will still be trying to reference the removed fields until you clear it.

[2016-12-05 11:15] #1755 closed

[2016-12-05 11:15] XWB commented on #1755
Closing as there is no better solution.

[2016-12-05 11:16] XWB commented on #1597
@foaly-nr1 Feel free to open a PR. Will close this issue for now.

[2016-12-05 11:16] #1597 closed

[2016-12-05 11:17] steveWinter commented on #2353
Further investigation of this issue reveals that there is a built-in way of handling this situation

[code]

Testing here would indicate that this adds one additional DB query which depending on solution probably isn't too much of a concern, and easier to implement than the above (which will also generate additional DB queries, though only on login and permissions changes, rather than potentially

[2016-12-05 11:19] stof commented on #2353
that's not a good solution, as you can have multiple sessions using the same user (for instance from your desktop and your mobile)

[2016-12-05 11:19] XWB commented on #1877
All translation files in 1.3 have a dot, see https://github.com/FriendsOfSymfony/FOSUserBundle/blob/1.3.x/Resources/translations/FOSUserBundle.en.yml for example.

[2016-12-05 11:19] #1877 closed

[2016-12-05 11:23] steveWinter commented on #2353
@stof good point!

[2016-12-05 15:42] XWB commented on #2336
@danitome24 Did it work?

[2016-12-05 15:54] XWB commented on #740
Closing as Propel integration was moved to another bundle.

[2016-12-05 15:54] #740 closed

[2016-12-05 15:54] XWB commented on #1049
Closing as Propel integration was moved to another bundle.

[2016-12-05 15:54] #1049 closed

[2016-12-05 15:54] XWB commented on #2115
Closing as Propel integration was moved to another bundle.

[2016-12-05 15:54] #2115 closed

[2016-12-05 15:57] XWB commented on #2234
@SDPrio Can you give it a try?

[2016-12-05 17:05] SDPrio opened #2358 "How to create Salt after commit a9a08c2d"
I have just updated to the latest version and recognized, that new user accounts are created with an empty/null salt.

Some research showed that this is because of the changes in commit #a9a08c2d. What is the "correct" way of setting the salt from this commit onwards?

The "problem" is, that I am using the BCryptPasswordEncoder. I cannot switch to another encoder, this the salt/password are not on

[2016-12-05 17:15] stof commented on #2358
you should **not** create the salt yourselves when using BCryptPasswordEncoder. PHP generates a salt with a better implementation (and as of PHP 7, it does not allow to provide the salt externally at all).
And the salt does not need to be stored separately, because it is included in the hash generated by BCryptPasswordEncoder. The salt field of the User is totally ignored by BCryptPasswordEncoder

[2016-12-05 17:34] foaly-nr1 commented on #1597
@XWB I created https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2158. @stof and yourself rejecting the idea as a whole following the review of my PR.

[2016-12-05 18:34] SDPrio commented on #2358
Thanks for the information, I did not know that. However I still need the salt to send it to the clients. They need the salt to locally hash the password and send the result back to the server for authentication. Maybe this it not necessary but this is the way the clients are implemented right now. Removing the salt (setting it null) will break the communication with thousands of clients.

Is ther

[2016-12-05 22:02] matiasfessia commented on #696
@isramv nice!!  was very helpful for me, but it's seems that you forgot to control if the user exist when you do: `$user_manager->findUserByUsername($username);`
If the user dont exist then the $user variable is null and the next line `$factory->getEncoder($user)` throws an exception.

[2016-12-06 06:16] SteaveAshmore commented on #1538
same issue any guide?

[2016-12-06 15:50] cadavre opened #2359 "Add custom fields input to create user command"
`fos:user:create` let you create user only with default fields (required ones: username, email, password), but as soon as you add any single field that is `nullable=false` you're done with using this command. Can we add some custom params handler to fill this fields?

[2016-12-07 08:02] danitome24 commented on #2336
Hi @XWB,

We've already decided that we'll use a custom user management system. In the future, we'll take a look again of this bundle because nowadays it's difficult for us to merge with our project.

Thanks for all!!

[2016-12-07 08:03] #2336 closed

[2016-12-07 09:29] XWB commented on #2355
@rudirocha Did you try clearing the APC cache?

[2016-12-07 11:58] rudirocha commented on #2355
I'm not able to try it now. But later i'll do it and post the result. I configured Redis to cache some doctrine and session stuff.

[2016-12-07 11:59] rudirocha commented on #2358
Isn't that stored on database? ` fos_user ` table did not had the salt field? does it fit for you?

[2016-12-07 12:10] SDPrio commented on #2358
No it is not, not anymore. Before the recent update, the FOSUserBundle did create the salt manually, stored it in the DB and passed it to PHPs `password_hash` method to generate the bcyrpt hash. This was changed, since `password_hash` deprecated the option to set the salt manually. PHP does not trust the users to generate "good" salts and thus only uses salts it creates automatically. Since FOS do

[2016-12-07 15:23] XWB commented on #2359
I feel this is out of scope for this bundle. You would need to extend the CreateUserCommand and add some custom logic. Have a look at https://github.com/FriendsOfSymfony/FOSUserBundle/pull/1917

[2016-12-07 15:35] XWB commented on #2358
I suppose you could test it with several test passwords?

[2016-12-07 15:39] stof commented on #2358
@SDPrio or just generate a salt client-side at the time you hash the password.
The salt being in the field is **never** used by the BCryptPasswordEncoder when checking a password anyway. It uses the salt being inside the hash. So extracting the salt from the bcrypt hash to store it again in the separate DB field is totally useless.

[2016-12-07 21:57] generalis commented on #2288
When in FOSUserBundle 1.3.x will be available FOSUserEvents Class?

[2016-12-08 08:42] osmanyilmazco opened #2360 "Unique Email address problem?"
Hi, unique email address problem? This bug appeared in the final version..

**composer.json**
[code]

**SQL Error**
[code]

Normally, this error was gone.
Can you help?
Thanks. (My English is not very good, i'm sorry)

[2016-12-08 13:04] l3talka opened #2361 "Broken fos:user:create"
Why you remove salt init from constructor? It's a broke fos:user:create command?

Integrity constraint violation: 1048 Column 'salt' cannot be null

[2016-12-08 13:06] #2361 closed

[2016-12-08 13:33] stof commented on #2288
never. The 1.3.x version of the bundle does not dispatch events in the controller. This is a feature of the 2.0 version (currently in beta 1)

[2016-12-08 14:35] XWB commented on #2360
The field is unique and you already have an user with the email address test@test.com.

[2016-12-08 14:38] rudirocha commented on #2355
And it seems to be cache problem. After flush all REDIS data related to application, composer update had no problem neither the application running.
This can be closed!
Thanks guys

[2016-12-08 14:38] #2355 closed

[2016-12-08 14:58] icamys commented on #2355
Got a similar problem using APCu. I've enabled APCu by:

1. Adding few lines to production configs:

[code]

2. Enabling ApcClassLoader in `web/app.php`:

[code]

After that I've got error in production logs:

Had to comment out cache driver configs to get rid of this error. However I believe it's rather a hack than a fix.

Regular `cache:clear` command does not solve the issue for me. @XWB How do

[2016-12-08 16:06] stof commented on #2355
you need to clear you doctrine mapping cache when upgrading the bundle to beta1.

And when using APCu, it has a separate cache per SAPI. So the command will not clear the cache used by php-fpm. You need to clear it as well. The easiest way to clear APCu for php-fpm is to restart php-fpm.

[2016-12-09 06:34] osmanyilmazco commented on #2360
Thanks,

I know, but this error happened after the update. Before the update he said there is an email address.

I solved the problem in a simple way.
[code]

[2016-12-09 06:34] #2360 closed

[2016-12-09 15:11] XWB commented on #2355
@icamys I usually clear the APC cache by reloading Apache.

[2016-12-09 15:16] stof commented on #2355
yeah, which is the equivalent of restarting php-fpm when using mod_php rather than php-fpm

[2016-12-10 11:28] LoZio opened #2363 "Error after upgrade to 03ce036"
Having a working Symfony 2.8.5 setup since months.

**Description of the problem including expected versus actual behavior**:
[code]

**Steps to reproduce**:
 1. run composer update in my symfony project
 2. Version involved "Updating friendsofsymfony/user-bundle dev-master (def2746 => 03ce036)"

Doctrine was upgraded flawlessy
[code]

Basically upgrading to newer version of userbundle breaks some

[2016-12-10 21:10] slaci commented on #2335
It is not possible out of the box. You must override the SecurityController and redefine the `renderLogin()` function.

Overriding the controller: https://symfony.com/doc/master/bundles/FOSUserBundle/overriding_controllers.html

Redefining the `renderLogin` function in your own controller (like `AppBundle\Controller\SecurityController` if your AppBundle has `getParent() => 'FOSUserBundle'` functio

[2016-12-11 21:31] geoffrey-brier commented on #2207
@markitosgv Your nginx config is wrong (check [this link](http://symfony.com/doc/current/setup/web_server_configuration.html#nginx) for insights).

Basically, you should rely on `$realpath_root` everywhere instead of `$document_root`, you have to change your `SCRIPT_FILENAME` and add the `DOCUMENT_ROOT`  this way :

[code]

[2016-12-13 10:47] #2359 closed

[2016-12-13 10:54] XWB commented on #2363
Did you try clearing the cache?

[2016-12-13 11:08] stof commented on #2363
Are you replacing the service definition for the user manager ?

[2016-12-13 13:23] LoZio commented on #2363
It is while clearing the cache that the problem arises (the upgrade itself finishes).
I am NOT replacing the service definition anywhere, maybe I'm missing something. Could you point me to the doc regarding that? I'm stuck with the problem that is related to this, I suppose https://github.com/FriendsOfSymfony/FOSUserBundle/blob/master/Upgrade.md#usermanager.

[2016-12-13 13:57] stof commented on #2363
Can you past the content of ``app/cache/dev/appDevDe
  bugProjectContainer.php`` around line 732 (as this is the line mentionned in the error message) ? Pasting the code of the whole method surrounding this line would be enough.

[2016-12-13 14:08] LoZio commented on #2363
![untitled](https://cloud.githubusercontent.com/assets/869890/21143186/f20f0758-c145-11e6-8a4a-023a141f1100.png)

[2016-12-13 14:17] stof commented on #2363
Well, this is not using the UserManager class from FOSUserBundle but your own custom class. So it means you **are** overwriting the service definition somewhere

[2016-12-13 14:39] LoZio commented on #2363
Got it, thanks. I'm maintaining some code from other dev so I'll check with them.
Thank you

[2016-12-15 08:12] xDaizu commented on #2363
[Once again](Related: https://github.com/FriendsOfSymfony/FOSUserBundle/issues/2048), I strongly advocate for having proper versioning in this )bundle, aswell as a "stable" and a "develop" branch.  :)

[2016-12-15 09:38] core23 commented on #2363
Once again, there is a stable version! Please have a look at the 1.x branch. If you want symfony 3 support, feel free to contribute to the master, which will become the next stable release. Without any contribution, there is no symfony 3 support.

[2016-12-15 11:09] apfz opened #2366 "Bug in password resetting"
In the password reset form, I can enter any email address / username without the system throwing an error saying the user does not exist.

I believe this was available in previous versions of FOSUserBundle, as it was redirecting the user to the form again. With invalid_username I was then able to provide a notification to the user.

[2016-12-15 11:10] stof commented on #2366
This was done on purpose, as the message displayed previously allowed to identify existing accounts

[2016-12-15 11:31] apfz commented on #2366
ok.

so basically the user would have to be informed in the check-email page that in case no email came the email may have been misspelled?

Or what is the new suggested method of doing this?

[2016-12-15 23:54] Selion05 opened #2367 "Seeing Login Inputfields twice"
friendsofsymfony/user-bundle         dev-master 03ce036 Symfony FOSUserBundle
symfony/symfony                      v3.2.0

**Description of the problem including expected versus actual behavior**:

After changing the login form template  I added
`    access_control:
        #...
        - { path: ^/, role: ROLE_USER }`

to security.yml.

Now I'm seeing the input fields inside the form twice.

It's

[2016-12-16 11:05] damienalexandre commented on #2367
Could you show us your custom login template? Because it looks like an issue with the template itself.

Thanks

[2016-12-16 11:15] Selion05 commented on #2367
sure.

app/Resources/FOSUserBundle/views/layout.html.twig
`{% extends 'base.html.twig' %}

{% block main %}
{% block fos_user_content %}{% endblock %}
{% endblock %}
`

app/Resources/FOSUserBundle/views/Security/login.html.twig
`{% extends "FOSUserBundle::layout.html.twig" %}
{% block nav %}{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

{% if error %}

[2016-12-16 17:27] victorluisaguadoleon opened #2368 "Profile edit not submiting."
Profile edit not submiting. Symfony report:
Symfony\Component\Validator\ConstraintViolation
Object(Symfony\Component\Form\Form).data.plainPassword = null

[2016-12-16 18:01] damienalexandre commented on #2368
We can't help you without more informations. Please provide:
- the FOSUB version and Symfony version
- your configuration and any particular override you may have done

[2016-12-16 18:59] victorluisaguadoleon commented on #2368
This problem appear after 'php composer.phar update'

Symfony version 2.8.14 - app/dev/debug
friendsofsymfony/user-bundle         dev-master 03ce036 Symfony FOSUserBundle

/*config.yml*/
fos_user:
    db_driver: orm # other valid values are 'mongodb', 'couchdb' and 'propel'
    firewall_name: main
    user_class: UserBundle\Entity\User
    service:
        mailer: fos_user.mailer.twig_swift
    re

[2016-12-18 17:12] tautrimas opened #2369 "Call Form::isValid() with an unsubmitted form is deprecated since version 3.2"
**Symfony FOSUserBundle versions**:

- friendsofsymfony/user-bundle         dev-master 03ce036

**Description of the problem including expected versus actual behavior**:

There is a new deprecation:

**Steps to reproduce**:
 1. Visit any page from FOSUserBundle where `->isValid` is used but not `->isSubmitted`. E.g. ResettingController or GroupController.
 2. Symfony debug toolbar or functional te

[2016-12-19 10:39] #2369 closed

[2016-12-19 19:32] #2368 closed

[2016-12-20 21:45] skonsoft commented on #2366
I got the same problem. Users requesting the reset password do not undrestand what happens exactly.

I think that informing users that the entred email is wrong and not tell them that they have receieved the email and should check their inbox..

Thanks

[2016-12-21 06:09] core23 commented on #2366
Maybe we could send an email to the address to inform that this address isn't registered yet? Looks like a more secure way.

[2016-12-21 11:32] ethernal commented on #2298
This is still a ug as it allows user to enable the account that should not be enabled. Maybe adding a distinction between Enabled and (B)Locked account would be better?

[2016-12-21 11:39] stof commented on #2298
well, if you want to lock accounts in your app, using ``isAccountNotLocked`` is the way to go (there used to be a locked field previously to handle this, but it is removed in 2.0-beta1 as we were not providing any management for it, and so it is better for apps needing it to add it in the way fitting their needs rather than forcing all apps to have this field)

[2016-12-21 12:49] ethernal commented on #2298
OK that makes sense and it's better to leave that to the user.

PS. any idea when 2.0 stable will be released? There is nothing on the 2.0 roadmap to do. Are we all just waiting few weeks and assume it's all ok or are there open issues?

[2016-12-21 13:51] stof commented on #2298
the only thing left is updating translations as many locales are not in sync with the English messages due to changes done in 2.x (removing some placeholder in some places).
@XWB told me he would create an issue about it to follow the progress, but it is not done yet. I may do it myself if I find time for it before him.
And translations will not be a blocker for the release (I will comment outdate

[2016-12-22 04:59] jsbuilder commented on #2363
Symfony version 3.1.5
Updating friendsofsymfony/user-bundle dev-master (9c64d6f => c0ba632)
The same problem.
Catchable Fatal Error: Argument 1 passed to FOS\UserBundle\Doctrine\UserManager::__construct() must be an instance of FOS\UserBundle\Util\PasswordUpdaterInterface ..
):

[2016-12-22 14:31] rodrigolopezguerra commented on #2272
fos_user.user_provider is the actual correct parameter i think , but fos_user.user_provider.username will do th ejob as well

[2016-12-22 15:36] rodrigolopezguerra commented on #2272
+1

user_provider: fos_user.user_provider.username

thanks !

[2016-12-23 02:17] djardine opened #2371 "New registration email confirmation link produces 404 error if clicked more than once"
**Describe the feature**:

This is more of a feature request rather than a bug (unless this is in fact a bug that I'm seeing). We're getting a lot of users complaining that the account confirmation link in the new account registration confirmation email is leading them to a 404 page error. As far as I can tell, what's really happening is that they're clicking the link more than once (I'm really ju

[2016-12-23 08:55] nlzet opened #2372 "Stable release for version 2, plans / issues"
Are there any plans or open issues that can be contributed to in order to release a stable 2.0 release? The [2.0 Milestone](https://github.com/FriendsOfSymfony/FOSUserBundle/milestone/4) seems completed, and I couldn't find any other answers.

[2016-12-23 14:59] gevarap opened #2373 "Can't pass custom interface to custom UserManager"
**dev-master 03ce036 **:

**How to extend \FOS\UserBundle\Model\UserInterface and pass it to custom UserManager extended from BaseUserManager for using new UserInterface for example in deleteUser(CustomUserInterface $user)**:

[2016-12-23 15:03] stof commented on #2373
Wel, you cannot change the signature of the method, this is expected (otherwise, your UserManager would not be compatible with the UserManagerInterface).

but nothing forbids you to pass your own implementing your extended interface, and doing additional work when the User implements the extended interface.

[2016-12-23 15:21] gevarap commented on #2373
Sorry, I do not fully understand.
**I have custom UserManager Extended from \FOS\UserBundle\Model\UserManager**
 --there are implimintation of \FOS\UserBundle\Model\UserManagerInterface methods
 ----such us
 ------reloadUser(\FOS\UserBundle\Model\UserInterface $user)
 ------updateUser(\FOS\UserBundle\Model\UserInterface $user)
 **i want on updateUser setPicture(Method of extended UserInterface fro

[2016-12-24 09:04] stof commented on #2371
Well, remembering that the confirmation link worked in the past would require keeping the confirmation token around (to distinguish from a non-existent link), and these are unique tokens btw.
It complicates things seriously.

Thus, FOSUserBundle reuses the same DB field for tokens used in the password resetting.

[2016-12-24 09:05] stof commented on #2288
@javiereguiluz do you have any idea when this can be fixed ?

[2016-12-24 09:47] stof commented on #2363
@jsbuilder look whether you have a custom UserManager class. This was the case in the previous report

[2016-12-24 10:21] stof commented on #2157
No, you cannot use both Propel and Doctrine in the same project (thus, Propel and Doctrine don't expect the same format in the DB for some cases, so they cannot be used on the same DB in 2 projects)

[2016-12-24 10:21] #2157 closed

[2016-12-24 10:24] stof commented on #1743
If you want custom registrations flows, the easiest way is to implement them yourselves (without bothering with overriding the FOSUserBundle controllers). You have the full power of Symfony available.
So I'm closing this issue.

@rparsi I don't see why we would have such a comment in FOSUserEvents as it is not about login either.

[2016-12-24 10:24] #1743 closed

[2016-12-24 10:31] javiereguiluz commented on #2288
I'm sorry it took me so long to fix this. The cause of this problem was a bit tricky. When building the docs, we weren't "symlinking" `current` to the real version but to `master`. I think I've solve it for good now. I've sent a pull request and once merged and deployed, everything should work again.

Note: in this particular example, the solution will make the `http://symfony.com/doc/current/bund

[2016-12-24 10:35] stof commented on #2117
Well, the FOSUserBundle classes should not be creating tables, as they are mapped superclasses. And ``FOS\UserBundle\Model\Group`` does not create this table for me.

If ``bin/console doctrine:schema:create --dump-sql`` does not show the table, it probably means that it was created by another source (maybe a leftover from an older version of the project which was not removed properly).

[2016-12-24 10:47] stof commented on #2091
The Symfony UniqueEntity validator is known to have a hard time with the entity inheritance feature of Doctrine.
As entity inheritance has many gotchas in Doctrine as well (and it cannot be otherwise by definition of the feature), my best advice is to avoid using it.

[2016-12-24 10:49] stof commented on #2091
The Symfony UniqueEntity validator is known to have a hard time with the entity inheritance feature of Doctrine.
As entity inheritance has many gotchas in Doctrine as well (and it cannot be otherwise by definition of the feature), my best advice is to avoid using it.

[2016-12-24 11:00] stof commented on #2022
This fatal error is related to using the ApcCache without having the APC extension instead.
And the circular reference should be fixed in the meantime due to other refactorings.

[2016-12-24 11:00] #2022 closed

[2016-12-24 11:02] #2016 closed

[2016-12-24 11:05] stof commented on #2018
Given that the Doctrine team wants to remove the YAML driver in Doctrine 3, this won't happen

[2016-12-24 11:05] #2018 closed

[2016-12-24 11:07] stof commented on #1441
Closing this as I don't want to change this now (as I want to release 2.0)

[2016-12-24 11:07] #1441 closed

[2016-12-24 11:08] stof commented on #1989
Error pages have nothing to do with FOSUserBundle, so I'm closing this issue

[2016-12-24 11:08] #1989 closed

[2016-12-24 11:10] #1634 closed

[2016-12-24 11:12] stof commented on #1971
FOSUserBundle already has a registration feature

[2016-12-24 11:12] #1971 closed

[2016-12-24 13:55] stof commented on #597
This should be solved by configuring the ``login_path`` to your own route in the firewall config

[2016-12-24 13:55] #597 closed

[2016-12-24 14:02] stof commented on #1045
The easiest way is to extend the form type and replace the field:

[code]

[2016-12-24 14:02] #1045 closed

[2016-12-24 14:03] #1080 closed

[2016-12-24 14:06] stof commented on #1054
Reading this again, I found the issue (although a long time later):

the ``^/prof`` regex will match the ``/profile`` URL, enforcing that you need ROLE_PROF to access the profile.

[2016-12-24 14:06] #1054 closed

[2016-12-24 14:08] #1397 closed

[2016-12-24 14:08] #1344 closed

[2016-12-24 14:10] stof commented on #1322
Fixed in 2.0

[2016-12-24 14:10] #1322 closed

[2016-12-24 14:11] stof commented on #1115
We have them in a ``Doctrine`` namespace since quite some time now

[2016-12-24 14:11] #1115 closed

[2016-12-24 14:15] stof commented on #1294
Closing this as configuring the whole bundle multiple times is not something I want to provide.
People really wanting to have multiple user managers should configure services themselves (and wire controllers to do it)

[2016-12-24 14:15] #1294 closed

[2016-12-24 14:16] stof commented on #1312
We now have method requirements in the routing in 2.0

[2016-12-24 14:16] #1312 closed

[2016-12-24 14:18] stof commented on #1335
In 2.0, this can be implemented easily using the REGISTRATION_INITIALIZE event (listeners can set a response in the event object to bypass the registration logic)

[2016-12-24 14:18] #1335 closed

[2016-12-24 14:19] #1227 closed

[2016-12-24 14:20] #1181 closed

[2016-12-24 14:21] #1116 closed

[2016-12-24 14:24] #1527 closed

[2016-12-24 14:24] #1409 closed

[2016-12-24 14:28] stof commented on #1488
This has been fixed by the refactoring of the password resetting system

[2016-12-24 14:28] #1488 closed

[2016-12-24 14:29] #1962 closed

[2016-12-24 14:30] stof commented on #1960
This is fixed in 2.0

[2016-12-24 14:30] #1960 closed

[2016-12-24 14:32] stof commented on #1942
doctrine/collections is a standalone package. So it is not worth the extra complexity IMO

[2016-12-24 14:32] #1942 closed

[2016-12-24 14:32] stof commented on #1863
Closing as we always generate a new salt when updating the passord in 2.0

[2016-12-24 14:32] #1863 closed

[2016-12-24 14:34] #1860 closed

[2016-12-24 14:35] #1562 closed

[2016-12-24 14:36] #1553 closed

[2016-12-24 14:36] stof commented on #2138
Closing this as it is about JMS Serializer, not about this bundle

[2016-12-24 14:36] #2138 closed

[2016-12-24 14:38] stof commented on #2126
The issue looks like an infinite loop due to the blameable extension (making the User entity blameable based on the User extension is likely to cause such bugs).
In any case, it is not related to FOSUserBundle

[2016-12-24 14:38] #2126 closed

[2016-12-24 14:40] #2062 closed

[2016-12-24 14:40] #2019 closed

[2016-12-24 14:46] stof commented on #2354
Closing this as all issues listed above are now closed.

Thanks a lot for your work on this

[2016-12-24 14:46] #2354 closed

[2016-12-24 15:18] matudelatower commented on #2126
yes @stof we upgrade to symfony 2.8 and the problem has been solved

[2016-12-24 16:02] rparsi commented on #1743
@stof Having such a comment would help newbs like myself (and others) that make false assumptions regarding FOSUserEvents (in that we assume/expect an event for user login).  Maybe the comment should be somewhere in the symfony docs instead.  Point is that the fact that FOSUserEvents is not about user login needs to be expressed somewhere, so people don't make pointless tickets (github issues) ove

[2016-12-24 17:48] andrepintado commented on #2175
Hi,

Just had the exact same problem. I fixed it first by following this:

http://symfony.com/doc/current/security/form_login_setup.html

Cheers,
André

[2016-12-24 17:58] djardine commented on #2371
Ya that's right. Would it be possible to send the user ID or username in the confirmation link that way the backend can check if that user is already enabled and report that even if the token is no longer in existence?

[2016-12-26 04:49] jsbuilder commented on #2363
Yes, it is bitfriends/sonata-user-bundle
--
var/cache/dev/appDevDebugProjectContainer.php
--
`    /**
     * Gets the 'fos_user.user_manager' service.
     *
     * This service is shared.
     * This method always returns the same instance of the service.
     *
     * @return \Sonata\UserBundle\Entity\UserManager A Sonata\UserBundle\Entity\UserManager instance
     */
    protected function getF

[2016-12-26 16:58] Thibault34 opened #2376 "Extends view not found"
Hello,

Since the implementation of the latest version two days ago, the heritagle of the views (to use those of my bundle and not those of FOSUserBundle) no longer works. Can someone explain me why please?

[2016-12-26 17:02] Laurent3170 commented on #2376
They have been renamed. Have a look at Resources > views to have the new name. Mainly the "_" replace the "-".

[2016-12-26 17:27] Thibault34 commented on #2376
Thank you

[2016-12-26 22:10] Laurent3170 commented on #2371
@djardine You may have a look at #2106 as it avoids this 404 redirection

[2016-12-27 08:20] Thibault34 commented on #2376
I have look, but, I don't undertrand, my view name is "login.html.twig"

[2016-12-27 08:33] axzx commented on #2376
this commit https://github.com/FriendsOfSymfony/FOSUserBundle/commit/ed6a1a931b438da361eb76f5145a9c25616cb0ca makes problem

[2016-12-27 08:40] Thibault34 commented on #2376
What is the solution please ?

[2016-12-27 08:49] Thibault34 commented on #2376
There is no way to use the views of my bundle that inherits from FOSUserBundle so?

[2016-12-27 09:01] axzx commented on #2376
I also would like to know:)
@stof

[2016-12-27 09:05] stof commented on #2376
hmm, so the bundle inheritance does not allow to overwrite templates using the native Twig notation ? This looks like a bug in Symfony then.
However, I suggest you to use the ``app/Resources/FOSUserBundle/views`` folder to overwrite the FOSUserBundle templates anyway, as this is what the Symfony documentation is recommending since months (and maybe even years).

Regarding the bundle inheritance is

[2016-12-27 09:16] axzx commented on #2376
If I use the `app/Resources/FOSUserBundle/views` folder, then I can't extend like this:
[code]

I've got an error:
`resource is hidden by a resource from the "CustomUserBundle" derived bundle`

[2016-12-27 09:27] stof commented on #2376
Can you give the full error message ? This is only part of it.

[2016-12-27 09:36] Thibault34 commented on #2376
@axzx
Although I would like to keep all the views in my bundle, for me, the given solution works.
I think you put all the views in app/resources/views. You also have to move base.html.twig. It should be left in /src/CustomUserBundle/views this one.

[2016-12-27 09:38] axzx commented on #2376
"app/Resources/FOSUserBundle/views/Security/login.html.twig" resource is hidden by a resource from the "CustomUserBundle" derived bundle. Create a "app/Resources/Custom
  UserBundle/views/Security/login.html.twig" file to override the bundle resource.

It occurs only in command line cach:clear

[2016-12-27 09:38] Laurent3170 commented on #2376
Using Symfony 3.2.1 and latest FOSUserBundle commit, having templates in `app/Resources/FOSUserBundle/views` I can use both `{% extends "FOSUserBundle::layout.html.twig" %}` and `{% extends "@FOSUser/layout.html.twig" %}`. This takes my templates.

[2016-12-27 09:42] stof commented on #2376
Well, if you access it as ``@CustomUSer/base.html.twig``, it should indeed stay in CustomUserBundle (or in ``app/Resources/CustomUserBundle/views``. If you want to put it in ``app/Resources/FOSUserBundle/views``, you indeed need to reference it as FOSUserBundle.

[2016-12-27 11:36] Discutea commented on #2376
Hi,
I have difficulties to understand. This problem comes from symfony?
If you are in prod and need to fix quickly

cd vendor/friendsofsymfony/user-bundle && git checkout 612649c4efe02fb7d618652a449999d3b6c935d6

[2016-12-27 13:52] Tomsgu commented on #2373
I am not sure if I fully understand your question. But for example [here](https://github.com/sonata-project/SonataUserBundle/blob/3.x/Entity/UserManager.php) you can find an example how to implement the UserManagerInterface.

[2016-12-27 14:16] Selion05 commented on #2367
okay I figured out what's wrong.  I just copy pasted the security.yml from http://symfony.com/doc/current/bundles/FOSUserBundle/index.html  and the
[code]

[2016-12-27 14:40] Gemorroj opened #2378 "Overriding templates in a child bundle is broken after ed6a1a9"
After commit ed6a1a931b438da361eb76f5145a9c25616cb0ca I can't use my templates.
AppKernel.php
[code]

Wapinet\UserBundle\WapinetUserBundle.php
[code]

and i override some controllers and templates.
after this update symfony use `FOS\UserBundle\FOSUserBundle`, not my overrided code (`Wapinet\UserBundle\WapinetUserBundle`).

[2016-12-27 14:59] mvrhov commented on #2378
Did you try overwriting them with the new syntax. Not the old one?

[2016-12-27 15:10] Gemorroj commented on #2378
Yes, this is also an option. but then I'd have to rewrite **everything**!
Every method that calls `render`. Every template that uses a different template FOSUserBundle.

[2016-12-27 15:20] mvrhov commented on #2378
Two points.:
* 2.0 is not yet stable so BC are allowed.
* it's not that many templates

[2016-12-27 15:39] kmelia commented on #2376
Or downgrade to `"friendsofsymfony/user-bundle": "2.0.x-dev#612649c",` into your `composer.json` file.

[2016-12-27 15:53] Tomsgu commented on #2378
Duplication of issue #2376 .

[2016-12-27 17:29] lucagtc commented on #2376
See [Symfony documentation - Overriding Resources: Templates, Routing, etc](https://symfony.com/doc/current/bundles/inheritance.html#overriding-resources-templates-routing-etc)
Try use long version @FOSUserBundle/Resources/views/.... instead of short @BundleName/... in the FOSUserBundle action render.

[2016-12-27 18:05] gondo commented on #2376
another ridiculous `update`.
i had enough. until i completely remove this broken bundle, i ended up fixing specific commit in composer:
`"friendsofsymfony/user-bundle": "dev-master#c0ba63245f4155b3bc7060298089c2bf806cc002",`

[2016-12-27 18:22] Discutea commented on #2376
@gondo
I do not agree with you.
If bundle developers do not meet symfony best practices it will become unreasonable.
FOSUser is still a great job that no more restructuring time would be wasted for sf developers.

@kmelia Thank you I just discovered this practice

[2016-12-27 20:11] mvrhov commented on #2376
Why so many pissed of developers. Using development branch you should expect a lot of breakage especially when this in the process of refactoring.
I started with symfony way before it was stable. and in one of our product we I had to rewrite forms at least 4 times. Am I pissed of no.

[2016-12-27 21:38] kmelia commented on #2376
@Discutea you're welcome ;)

@mvrhov totally agree! We use development branch to get latest updates, but we know that is dev ;)
Do composer install only (with the composer.lock file) on production platforms ;)

[2016-12-28 13:52] xabbuh commented on #2378
@Gemorroj Can you please check if symfony/symfony#21077 would solve your issue?

[2016-12-28 13:53] xabbuh commented on #2376
Can you please check if symfony/symfony#21077 would solve your issue?

[2016-12-29 22:58] Leggy7 opened #2380 "Overriding registration form"
I read many topics on this concern but in the end I end up doing everything as explained. So I wonder to understand if I'm facing some issue or I am missing something trivial.

Beginning with my AppBundle/Resources/config/services.yml file:

[code]

Then in the app/config/config.yml file (relevant parts):

[code]

Then my form, copied by [the docs](http://symfony.com/doc/current/bundles/FOSUserBun

[2016-12-29 23:02] Leggy7 commented on #2380
and the error, obviously:

Stack trace:

[code]

[2016-12-30 07:23] Leggy7 commented on #2380
I would like to add a printing of my debung:container output:

And in detail:

[2016-12-30 08:19] xabbuh commented on #2380
In Symfony 3.x you need to reference form types by the FQCN of their form type class (the `getName()` method isn't used anymore).

[2016-12-30 08:40] Leggy7 commented on #2380
Oh, great. It seems to proceed somehow. If I could take advantage of your kindness, now I get the following error:

Which doesn't make too much sense to me because I'm not even instantiating the new form, it is automatically handled by FOSUserBundle controller. I have no power over it.

According to what you said I changed the form like this:

[code]

Any suggestion?

[2016-12-30 09:32] xabbuh commented on #2380
The error message refers to the `RegistrationFormType` class from FOSUserBundle, not to your own class. Did you override the service somewhere?

[2016-12-30 09:38] Leggy7 commented on #2380
If I comment the config.yml in this way:

[code]

the original RegistrationFormType loads just fine. So I don't know.. My service.yml file is flawless and the only service I defined is the one I copied above.

[2016-12-30 09:54] xabbuh commented on #2380
Just noticed that your form type class extends the one from FOSUserBundle. That's why the initialisation fails. However, instead of extending the form type class from the bundle you should rather let your class extend the `AbstractType` class and declare the form type inheritance through the `getParent()` method.

[2016-12-30 10:27] Leggy7 commented on #2380
Awesome!
Apparently it wasn't clear to me what is ans is not deprecated in 3.x symfony versione. Thank a lot for your enlightment!

[2016-12-30 10:27] #2380 closed

[2016-12-30 16:02] Leggy7 opened #2382 "Render registration form into custom page"
**Symfony FOSUserBundle versions**:
  "friendsofsymfony/user-bundle": "~2.0@dev"

**Description of the problem including expected versus actual behavior**:
I have an overridden twig registration teplate in my app route and since I'd like to recall the form also in a modal window I did

`{{ render(path('fos_user_registration_register')) }}`

in another twig template.

I did the same thing with the

[2016-12-30 23:30] Leggy7 commented on #2382
My really bad. I found out I had ad infinite twig inclusion stack. Sorry

[2016-12-30 23:30] #2382 closed

[2017-01-01 02:29] djardine commented on #2106
Good stuff, this helped me.  One slight correction to make to @Laurent3170 code above.  In the file "src/AppBundle/User/UserBundle.php":

`namespace AppBundle\User;`

should be

`namespace AppBundle\User\Controller;`

Cheers

[2017-01-01 15:28] #2367 closed

[2017-01-02 13:44] kmelia commented on #2376
@xabbuh yes, it's works for me!

[2017-01-02 14:02] Thibault34 commented on #2376
@kmelia it's fix in Symfony 3.2.1 ?

[2017-01-02 14:03] stof commented on #2376
@Thibault34 https://github.com/symfony/symfony/pull/19586 is not merged yet

[2017-01-02 14:04] Thibault34 commented on #2376
Ha ok, thank

[2017-01-02 14:05] kmelia commented on #2376
@Thibault34 nope, I just try the fix on my project ;)

[2017-01-03 01:10] Toumm opened #2384 "Overrinding registration form: Could not load type <...>"
Hello,

I am facing the following issue while overriding the registration form:
Well, here are the symptoms:
This is the Form Type class:
//src/UserBundle/From/RegistrationForm.php
![image](https://cloud.githubusercontent.com/assets/3797095/21598215/c5a2dcee-d158-11e6-8fac-70f5e7c7c67d.png)
This is the service declaration statement:
//src/UserBundle/Ressources/config/services.yml - imported in //a

[2017-01-03 07:52] mvrhov commented on #2384
I'm not following the development of the bundle exactly, but I'm going to guess.
If you are using symfony 3.x then form type is probably your class name and not service id/alias

[2017-01-03 08:11] Toumm commented on #2384
Hi mvrhoc,
Thanks for your answer. Your right! and then I have to change the getParent function in the new from type. It works!.
Thanks

[2017-01-03 08:11] #2384 closed

[2017-01-03 09:51] xabbuh commented on #2384
@Toumm You can then also remove the `getName()` method from your form type and the `alias` attribute from the `form.type` tag of your service definition.

[2017-01-03 13:15] kibizu opened #2385 "Email problem"
Hi evrybody

I have in my dev local machine some problem with the notifications emails about registration and resetting password. I think that configured properly swiftmailer, in fact if i use by command line the swiftmailer : email : send it sends the emails. Fosuserbundle sends the two first emails, regardless of registration or password reset, and after it stops every sign of life.
I'm using ~2

[2017-01-03 21:12] core23 opened #2386 "Always use twig for form rendering"
**FOSUserBundle**: 2.0@dev

There are currently two template who have hardcoded `<form` elements. They should use `form_start` instead like in the other templates.

https://github.com/FriendsOfSymfony/FOSUserBundle/blob/52ec2944d700651d51b198c5b1d8097af2e8e594/Resources/views/Security/login_content.html.twig#L7
https://github.com/FriendsOfSymfony/FOSUserBundle/blob/ea743354f76e246fecb828c925471d7c

[2017-01-04 09:06] stof commented on #2386
Well, this would force using the Symfony Form component while the processing of the form does not use it, which would make things even worse

[2017-01-04 10:18] Jurigag commented on #2355
Why those properties were removed anyway ?

[2017-01-04 10:20] mvrhov commented on #2355
Because the bundle didn't use them.

[2017-01-04 10:35] stof commented on #2355
And because applications really wanting to use the features need to write some custom code anyway, so it is better if they implement the method in a way fitting their needs exactly instead of trying to fit their use case into the storage structure provided by FOSUserBundle arbitrarily.

[2017-01-04 10:41] christophe-44-27 commented on #2355
Personally, I deleted FOSUserBundle because of this deletion of attributes that was not announced anywhere, overnight and I switched to a custom system using Guard, and since all is well in the best of worlds ! Indeed if projects need these attributes they can put it in custom code for the bundle, but the least of the things when developing a project as big as this one is to clearly announce its r

[2017-01-04 10:56] stof commented on #2355
@christophe-44-27 We announced it in the changelog of the beta release, and adding these attributes back if you need them is dead simple, as FOSUserBundle already forces you to have a child class anyway.
And we had complains in the past about these fields either being unnecessary (as they are about advanced features not handled by the bundle anyway, and not used by many people) or being not flexib

[2017-01-04 11:09] christophe-44-27 commented on #2355
I don't read every changelog for every project that i use.
And yes, indeed the change is simple but if I decided to change my strategy it is to be sure that this does not happen again.

The fact is that for the FOSUserBundle project, you have only one version, and that the recommendations of the bundle in the implementation of an SF 2.8 or even 3.x project are to put on the master branch which is

[2017-01-04 11:23] stof commented on #2355
@christophe-44-27 the upgrade from 1.5 to 1.6 is **not** a major version. But the master branch of FOSUserBundle is the dev version for 2.0 currently

[2017-01-04 12:56] christophe-44-27 commented on #2355
I think you understood what I meant.
In production, you can not use a dev branch that can change so quickly.

[2017-01-04 13:06] xabbuh commented on #2355
@christophe-44-27 As long as you commit the Composer lock file to your VCS (what you really should do) I do not see any issues with that as you can check from time to time whether or not you can safely update.

[2017-01-04 13:06] stof commented on #2355
yeah, and this is also why there are alpha and beta releases from time to time.

[2017-01-04 16:07] abhinavkumar940 commented on #2386
Relevant
https://github.com/sonata-project/SonataUserBundle/issues/784

[2017-01-04 19:14] TerjeBr commented on #2372
I also wonder about this. What is the current issues that need to be fixed before the 2.0.0-beta1 can transform into a stable 2.0.0?

What can we do to contribute to speed up this process? @stof @XWB

[2017-01-04 21:02] chalasr commented on #2376
@kmelia Could you try out symfony/symfony#19586 instead and let us know if it works for you ?

[2017-01-04 21:29] kmelia commented on #2376
@chalasr I will try tomorrow morning.

[2017-01-04 21:55] kapowkimc commented on #2371
I received quite a few emails from users getting a 404 when trying to confirm a new account. After investigating the access_logs it turns out that useragent BingPreview/1.0b, is confirming the account before the user. So outlook webmail creates a preview thereby confirming the account and leaving the user with a really poor experience.

[2017-01-05 08:17] kmelia commented on #2376
@chalasr the PR does not work on a 3.x branch, so I could not test!

[2017-01-05 09:07] stof commented on #2378
The template override issue is because of a bug in Symfony (discovered when we did this change). Fixing it is in progress on the Symfony side and should be available in the next patch releases. In the meantime, you can keep using the beta1 release (as the change was done after the release).

I will keep this ticket open until the issue is solved on the Symfony side.

[2017-01-05 09:35] ethernal commented on #2372
From what I was told (can't find that thread now) only translations are missing, but that's also a minor thing and can be handled when 2.0 is released.

[2017-01-05 14:47] kibizu commented on #2385
I'm very sorry this is not an issue, I close it

[2017-01-05 14:47] #2385 closed

[2017-01-05 16:12] mvrhov commented on #2371
@kapowkimc WTF are they serious? Then this probably happens also if you copy paste the link via the skype (Skype tries to resolve the link to show a webpage preview)

[2017-01-07 06:15] anil-ku-in commented on #1214
try This

{% trans_default_domain 'FOSUserBundle' %}
<form id="form-reset-pwd" action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
    {#<input type="hidden" name="token" value="fos_user_resetting_form[token] }}" />#}
    <div class="form-group form-group-default">
        <div class="controls">
            <div

[2017-01-07 08:25] abhinavkumar940 commented on #2366
and a bit spammy @core23 don't you think? I can use any emails and can abuse not just the server sending emails but also the email accounts.

The current implementation makes sense to me, if you want to be more verbose you can alter/translate the message shown to the user.

[2017-01-10 00:23] slimit commented on #986
@jenniferleveaux If I override the controller and add the validation group in the setDefaultOptions() it should work no ?

Here is how I create the form:
`$user = new User();`
`$form = $this->createForm(RegistrationAdminType::class, $user);`

[2017-01-10 09:57] polantis opened #2395 "Locked attribute removed in 2.0.0-beta1 version?"
Hello,

Why is this attribut removed? I am using it when some one has made a valid subscription but has made some suspicious activities on my website.  I need two fields: enable and locked

Do i have to create a new islocked function in my user class?

If i look at the user entity, it is not really usable..:
<code>
    public function isAccountNonLocked()
    {
        return true;
    }
</code>

[2017-01-10 10:08] stof commented on #2395
if your project need it, you can add this field in your own child entity (and overwrite the Symfony interface method ``isAccountNonLocked()``).

The property was removed of the bundle because the bundle itself was not providing any feature based on it, and was enforcing a specific implementation of ``isAccountNonLocked()``, which was not flexible enough for some users, and which required an unused

[2017-01-11 08:29] samayo commented on #2206
So, I have been reading these comments, and need to make sure. Is 2.0.0 compatible with Symfony 3.x? I have 3.2 and not sure what if I can use this bundle without problems.

[2017-01-11 08:44] Tomsgu commented on #2206
It is compatible with symfony 3.x. The only problem is that 2.0.0 is still in beta so you should be aware of it and probably will be in beta still some time (months?).

[2017-01-11 08:50] Pierstoval commented on #2206
@Tomsgu Years? 2.0.0 is "ready" to me, but as I'm not a contributor/maintainer I can't judge about what's been decided internally about 2.0 milestones (except for #2378 which is not yet finished)

[2017-01-11 08:57] Tomsgu commented on #2206
@Pierstoval No I am not judging here. I think it's important to know that it's still "unstable", so people should be careful when using it in production. Btw. I use it in production for months as well.

[2017-01-11 08:58] Pierstoval commented on #2206
Same for me, and my tests have never regressed even when I was using dev-master (actually they did, but for very little things, and was not breaking the app itself, and could fix this before deploying easily).

For my students I always recommend `2.0@beta` tag to be sure they get the "almost-stable" version

[2017-01-11 09:01] samayo commented on #2206
Thanks @Tomsgu @Pierstoval I installed it using `2.0@beta` and registed it in the bundle, but (shameless plug) I get this error when I tried to generate entities:

does anyone have any idea where this db_driver param is found?

[2017-01-11 09:05] stof commented on #2206
@samayo please don't comment on old unrelated closed issues to ask for support. It does not make your question discoverable.
and the doc explains this param: http://symfony.com/doc/master/bundles/FOSUserBundle/index.html#step-5-configure-the-fosuserbundle

[2017-01-11 09:05] Pierstoval commented on #2206
@samayo Yes: in FOSUserBundle's documentation  https://symfony.com/doc/master/bundles/FOSUserBundle/index.html#step-5-configure-the-fosuserbundle

[2017-01-11 09:13] samayo commented on #2206
@stof Initially I was not sure if 2.0.0 supported Sf3 that is why I asked. About the error, I read the same doc you linked and [it didn't work](http://stackoverflow.com/questions/18913809/trying-to-install-fosuserbundle-but-getting-error#comment61658150_18914184) and I had to ask

[2017-01-11 10:02] stof commented on #2206
@samayo your previous comment talks about generating entity. the doc of the bundle **never** ask to use the entity generator.

[2017-01-11 12:25] oparin commented on #2355
Hi,
I'm trying to run a test that worked until the last update
public function testRegister()
    {
        /** @var $client \Symfony\Bundle\FrameworkBundle\Client */
        $client = static::createClient();
        $client->request('GET', '/register');
........
but I get error:
ReflectionException: Property FOS\UserBundle\Model\User::$locked does not exist
What is the problem?

[2017-01-11 12:50] Laurent3170 commented on #2355
`locked` has been removed, see #2315

[2017-01-11 13:00] oparin commented on #2355
I understand,
In my entity, there is nowhere field 'locked'.
Why is the standard test that accesses the some page return error?
How do I change the code, to the test passed?

[2017-01-11 13:51] Tomsgu commented on #2355
Have you tried all suggestions in this issue e.g. clear apcu cache?

[2017-01-11 14:18] oparin commented on #2355
@Tomsgu  I not use apc cache, project on localhost
I used:
[code]

but it did not help

[2017-01-11 15:24] Tomsgu commented on #2355
With rm app/cache/* you **can't** clear apc cache. It was already said in this thread. For example [here](https://github.com/FriendsOfSymfony/FOSUserBundle/issues/2355#issuecomment-265778234).

[2017-01-11 15:38] oparin commented on #2355
@Tomsgu
In the previous message I said what not use apc cache.
In my system apc not installed.
In my system php - module apache. Apc disabled.

[2017-01-11 15:39] stof commented on #2378
For reference, the Symfony PR is at https://github.com/symfony/symfony/pull/19586

[2017-01-11 15:42] Tomsgu commented on #2355
@oparin sorry I missread your post completely. Have you tried
`php app/console doctrine:cache:clear-metadata  --env=test
php app/console doctrine:cache:clear-query  --env=test
php app/console doctrine:cache:clear-result --env=test` ?

[2017-01-11 15:47] stof commented on #2376
Closing in favor of #2378 (no need to keep 2 opened issues tracking this)

[2017-01-11 15:47] #2376 closed

[2017-01-11 16:15] Jurigag commented on #2355
Also keep in mind if you are using this property somewhere like in view, just way to fix it is obviously remove it before clearing cache.

[2017-01-11 16:47] oparin commented on #2355
@Tomsgu
Thank you, but it does not work :(
We'll have to go back on old version FOSUser

[2017-01-11 16:48] Jurigag commented on #2355
Maybe you actually using somehwer `{{ user.locked }}` or something like this which was in my case.

[2017-01-11 16:54] oparin commented on #2355
@Jurigag
No no, this is not twig template. The site itself works
This is unit test.
A very simple test code:
[code]
returned error:
`ReflectionException: Property FOS\UserBundle\Model\User::$locked does not exist`

[2017-01-11 16:57] Jurigag commented on #2355
But what createClient is doing ? Maybe accessing there locked property?

[2017-01-11 17:02] oparin commented on #2355
@Jurigag
I dont know:( This is Symfony Kernel   https://symfony.com/doc/2.8/testing.html
Maybe incompatibility with new version FOS ;(

[2017-01-11 18:41] oparin commented on #2355
Well. This works! The question is closed!

[2017-01-12 06:08] pbajra commented on #1738
I am getting the same problem when i try to promote the user. The parent constructor is also being called in my Users table

[2017-01-12 08:21] CoalaJoe opened #2399 "/Model/UserManager.php not fully PHP7 compliant?"
**Symfony FOSUserBundle versions**:

friendsofsymfony/user-bundle         dev-master c0ba632

**Description of the problem including expected versus actual behavior**:
I am using PHP7 and constrain my User constructor with the PHP7 Types. But when the UserManager wants to create my bundle, it does not pass the expected type (obviously). How can I go arround that without mitigating my constraints?

[2017-01-12 10:25] stof commented on #2399
Well, if you add mandatory arguments to your User constructor, you must override the ``createUser`` implementation of the UserManager (or avoid calling any code relying on this method)

[2017-01-12 10:26] stof commented on #2399
btw, having mandatory constructor arguments would not be compatible with the registration feature (as it relies on a form to set these values, so it does not have them at the time the object is instantiated)

[2017-01-12 10:44] CoalaJoe commented on #2399
Thanks for the quick response.
The users are getting created with the Fr3dLdap bundle.
I think i got it.

[2017-01-12 10:44] #2399 closed

[2017-01-12 17:37] maxlipsky commented on #2355
[code]

and for **prod**:

`app/console cache:warmup --env=prod`

[2017-01-12 20:24] homersimpsons commented on #2378
This has been fixed: https://github.com/symfony/symfony/commit/0c77ce2355dad4d5011421b88755f2c6e430ef0f
I don't know when new release with this fix will be released

[2017-01-12 22:07] homersimpsons commented on #2378
Well, @stof you can close, fix have been pushed :)

[2017-01-13 22:50] darrylhein opened #2402 "Reset password access while logged in as a different user"
Ability to reset a password for the user other than the currently logged in user.

Steps to reproduce:
 1. (not logged in) Request reset for user A.
 2. Login as user B.
 3. Click reset for user A.
 4. You'll be taken to the reset form, but submitting the form will reset the password for user A (even though currently logged in as B).

I wouldn't call this a security issue, but it could be confusin

[2017-01-14 11:18] peterrehm commented on #2378
Hrm, I am still seeing issues using the LiipThemeBundle the overriden template is not working. It works on `dev-master#c0ba632`.

[2017-01-14 12:42] Gemorroj commented on #2378
After updating Symfony 3.2.2 works well.

[2017-01-14 20:22] peterrehm commented on #2378
Actually after some research I think my issue is related to the LiipThemeBundle.

[2017-01-14 23:04] devAddict opened #2403 "ss"
**Symfony FOSUserBundle versions**:

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1.
 2.
 3.

**Provide logs (if relevant)**:

**Describe the feature**:

[2017-01-15 20:38] Pierstoval commented on #2403
Please close this useless issue.

[2017-01-15 22:00] Jean85 commented on #2378
The related Symfony PR has been merged and released, I was able to fix this upgrading to the latest patch version.

[2017-01-16 09:31] #2403 closed

[2017-01-16 13:32] iometrine opened #2405 "overide Fosuserbundle registration to use it with fosrestbundle"
Hello,

Sorry i post the question here because i didn't find any answer.
I create a symfony project with fosuserbundle and all is great.
But now i need, to create an api to register and update my users with fosrestbundle.
So i tried to override registerAction to post my data with postman or angular.
My problem is my form is not valid and i can't see the error.

Do you know if it's possible ? What

[2017-01-17 16:21] brunocombodo opened #2407 "adding a user column not nullable make the unit test fail"
Hello,
I created a custom User entity (by inheriting the bundle) and added a :
[code]
in result, I have this error when I run the unit test :

How should I correct this error? By not testing your whole bundle in my test suite?

[2017-01-17 16:27] stof commented on #2407
Unit tests of the bundle are not meant to be run as part of a separate project. They are unlikely to pass in this case, as you are not running them in the way they are meant to be run.

If you want to run the FOSUserBundle tests in your own CI server, you should go inside the FOSUserBundle folder and run our testsuite from there (see the .travis.yml file to see the different steps needed for that)

[2017-01-17 22:26] Holicz opened #2408 "Using removed service "fos_user.registration.form.handler" in documentation"
[Here in docs](http://symfony.com/doc/master/bundles/FOSUserBundle/overriding_controllers.html) there is used this code

`$formHandler = $this->container->get('fos_user.registration.form.handler');`

but in master this service doesn't exists anymore. I believe, that this doc is old and should be updated. It would help me too, because now I don't know, what to do next.

[2017-01-18 07:58] brunocombodo commented on #2407
thanks

[2017-01-18 07:58] #2407 closed

[2017-01-19 11:36] ArnaudTarroux opened #2409 "PDOException since composer install"
Hi,

I have a problem since a composer install

Doctrine\DBAL\Driver\PDOException·SQLSTATE[42S22]: Column not found: 1054 Unknown column 'u0_.locked' in 'field list'

I've seen in the Upgrade.md that the $locked field has been removed, I never use this field, why the request keep use the locked field ?

Edit: After a test, each removed fields return this problem. Why the request continue to uses t

[2017-01-19 11:58] stof commented on #2409
Maybe you have a persistent metadata cache or DQL query cache for the ORM (in APC for instance) and you have not cleared this cache after upgrading the bundle.
If you have a persistent mapping cache or query cache, you must clear it when changing the mapping of your entities.

Btw, if you use APC, be careful: you cannot use the CLI to clear the APC cache used by the webserver. APC has separate cac

[2017-01-19 12:03] ArnaudTarroux commented on #2409
@stof Thanks for the reply, When I try in private navigation, everything work fine. I don't understand…

[2017-01-21 20:11] vlitovka commented on #2298
Well, I can review whole Ukrainian translation in this case(and probably russian if needed).

[2017-01-23 14:47] Thibault34 opened #2411 "Composer update error"
Hello,

When I user command composer update, I have a error :
  - Updating friendsofsymfony/user-bundle dev-master (6b40d12 => 41a5d37)
Update failed (Failed to execute git show-ref --head -d
sh: 1: git: not found)

Can you help me please ?

[2017-01-23 15:01] #2411 closed

[2017-01-26 00:50] Artem-G commented on #1231
3.5 years and still was not fixed?
Does everyone these days have their own user management bundle or something? )

[2017-01-26 09:31] #1658 closed

[2017-01-26 09:32] XWB commented on #2395
See above.

[2017-01-26 09:32] #2395 closed

[2017-01-26 09:32] XWB commented on #2373
The UserManager was changed in 2.0, you need to update your code. See the Upgrade note for more details.

[2017-01-26 09:32] #2373 closed

[2017-01-26 09:35] XWB commented on #2366
You can always override the translation files and add a custom message.

[2017-01-26 09:35] #2366 closed

[2017-01-26 09:35] XWB commented on #2378
:+1:

[2017-01-26 09:35] #2378 closed

[2017-01-26 09:36] XWB commented on #2363
It needs to be resolved in `sonata-user-bundle`.

[2017-01-26 09:36] #2363 closed

[2017-01-26 09:37] XWB commented on #2408
Related to https://github.com/FriendsOfSymfony/FOSUserBundle/issues/2288

[2017-01-26 09:37] #2408 closed

[2017-01-26 09:38] #2335 closed

[2017-01-26 09:39] XWB commented on #2234
Closing this issue. Please update to the latest DoctrineBundle version.

[2017-01-26 09:39] #2234 closed

[2017-01-26 09:41] XWB commented on #2372
Will release the next beta shortly. After that, we can have one more beta before releasing the final version.

[2017-01-27 12:06] weaverryan commented on #2372
Woohoo! @XWB Are you planning on having a shorter beta release cycle time (e.g. 1 month)? The actual, stable 2.0 release will be a sigh of relief for Symfony users (and we're waiting on KnpUniversity for a release to upgrade our screencast) :)

[2017-01-28 12:51] XWB commented on #2288
Thank you @javiereguiluz

[2017-01-28 12:51] #2288 closed

[2017-01-28 12:53] XWB commented on #1976
In Symfony, a session starts on demand.

[2017-01-28 12:53] #1976 closed

[2017-01-28 12:54] XWB commented on #1982
Closing this issue as there is no further information available.

[2017-01-28 12:54] #1982 closed

[2017-01-28 12:54] XWB commented on #1981
Closing this issue as there is no further information available.

[2017-01-28 12:54] #1981 closed

[2017-01-30 16:11] XWB commented on #1952
I believe this was resolved, the method `getTargetUrlFromSession()` does not exist anymore.

[2017-01-30 16:11] #1952 closed

[2017-01-31 07:43] Blackskyliner opened #2416 "More secure Activation- and Reset-Token generation/validation"
**Describe the feature**:
This bundle currently provides the possibility to send and validate email verification tokens and password reset tokens. As far as security concerns go, they seem to be vulnerable to timing attacks, as the token, at least for the Doctrine Manager, is piped into a find* Repository function for validation.

For the sake of availability here, especially if the blog someday w

[2017-01-31 12:21] XWB commented on #2215
I'm sorry, this isn't FOSUserBundle related. Please check the spam box of your email account.

[2017-01-31 12:21] #2215 closed

[2017-01-31 12:21] XWB commented on #2372
Beta 2 has been released. The next release should be smaller, thus should come quicker.

[2017-01-31 12:21] #2372 closed

[2017-01-31 12:23] XWB commented on #2223
Closing as this is not really FOSUserBundle related.

[2017-01-31 12:23] #2223 closed

[2017-01-31 12:25] XWB commented on #1013
Closing this outdated issue.

[2017-01-31 12:25] #1013 closed

[2017-01-31 12:30] #1456 closed

[2017-01-31 12:31] Laurent3170 commented on #2215
Yes, I know it's not related to FOSUserBundle. The problem is not with my mailbox, but as FOSUserBundle sends emails for validating the account, as webmaster, it's my concern if the emails delivered to validate the account are not delivered (in the non-spam).
The goal of the bundle is to create account, if it fails somewhere the goal is not reached...
So, I was wondering if there's a way to add he

[2017-01-31 12:31] #1430 closed

[2017-01-31 12:32] XWB commented on #1420
Feel free to open a PR.

[2017-01-31 12:32] #1420 closed

[2017-01-31 12:33] #1436 closed

[2017-01-31 12:33] XWB commented on #1451
I believe this was resolved.

[2017-01-31 12:33] #1451 closed

[2017-01-31 12:33] XWB commented on #1476
Closing this as we do not have CouchDB maintainers.

[2017-01-31 12:34] #1476 closed

[2017-01-31 12:35] XWB commented on #2409
Please try resetting the APC cache.

[2017-01-31 12:35] #2409 closed

[2017-01-31 12:35] XWB commented on #2386
Feel free to open a PR.

[2017-01-31 12:35] #2386 closed

[2017-01-31 12:35] XWB commented on #2358
Closing this. Feel free to open a new issue if there are further problems.

[2017-01-31 12:35] #2358 closed

[2017-01-31 12:37] XWB commented on #2005
See comment above.

[2017-01-31 12:37] #2005 closed

[2017-01-31 12:38] XWB commented on #1783
I don't think adding a ParamConverter would add much value.

[2017-01-31 12:38] #1783 closed

[2017-01-31 12:38] XWB commented on #1523
This should work in 2.0

[2017-01-31 12:38] #1523 closed

[2017-01-31 12:42] XWB commented on #2371
You can override the controller as described in https://github.com/FriendsOfSymfony/FOSUserBundle/issues/2106#issuecomment-212027852

[2017-01-31 12:42] #2371 closed

[2017-01-31 12:42] XWB commented on #2106
:+1:

[2017-01-31 12:42] #2106 closed

[2017-01-31 12:44] XWB commented on #2316
Any updates @darrylhein ?

[2017-01-31 12:46] XWB commented on #2405
Please navigate to http://symfony.com/doc/current/bundles/inheritance.html on how to override parts of a bundle.

[2017-01-31 12:46] #2405 closed

[2017-01-31 12:48] XWB commented on #2017
Closing this issue as no further information was provided.

[2017-01-31 12:48] #2017 closed

[2017-01-31 12:53] XWB commented on #1190
Closing this as we do not have Couchdb maintainers.

[2017-01-31 12:53] #1190 closed

[2017-01-31 12:53] #1204 closed, assigned to nobody

[2017-01-31 13:12] stof commented on #2215
Emails are sent using SwiftmailerBundle (unless you replace the mailer service). FOSUserBundle is not responsible for implementing the email sending.

[2017-01-31 13:55] Laurent3170 commented on #2215
Ok, so should be done on SwiftmailerBundle side.
Thanks

[2017-01-31 14:11] #2091 closed

[2017-01-31 14:30] #1025 closed

[2017-01-31 14:31] XWB commented on #1024
This was fixed.

[2017-01-31 14:31] #1024 closed

[2017-01-31 14:32] #961 closed

[2017-01-31 14:39] iometrine commented on #2405
Hello XWB,

thank you for your anwer but I'm already read this document. And as you can see i know already override a part od a bundle.
I want just to know you if have some advice to work with fosrest bundle ? what is best pratice ?

[2017-01-31 15:30] XWB commented on #2199
Closing this as no further information was provided.

[2017-01-31 15:30] #2199 closed

[2017-01-31 15:31] XWB commented on #408
Closing this as this feature was never implemented, and most likely never will.

[2017-01-31 15:31] #408 closed

[2017-01-31 15:34] XWB commented on #1410
Feel free to open a PR.

[2017-01-31 15:34] #1410 closed

[2017-01-31 15:34] #1407 closed

[2017-01-31 15:35] XWB commented on #1357
Closing this as the PR was rejected.

[2017-01-31 15:35] #1357 closed

[2017-01-31 15:51] XWB commented on #1231
Can you guys have a look at https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2418 ?

[2017-01-31 16:05] core23 commented on #2386
Will work on this next weekend

[2017-01-31 16:06] XWB opened #2419 "Translation files to be updated, help needed"
There are currently a lot of translation files not up-to-date with the English translation. We need some help from the community to update these files.

Below is a list of locales that need to be updated.

- [x] af
- [x] ar
- [x] bg
- [ ] ~~ca~~
- [x] cs
- [x] da
- [x] de
- [x] el
- [x] en
- [x] es
- [ ] ~~et~~
- [ ] ~~eu~~
- [ ] ~~fa~~
- [ ] ~~fi~~
- [x] fr
- [x] he
- [ ] ~~hr~~
- [x] hu
- [x] id

[2017-02-01 12:12] stof commented on #2419
for people looking at contributing to this update, the locales being checked above are the one being updated already.

To contribute to this effort, update the translation files for a locale, and open a PR for it (and reference this issue in the PR description for best discovery).
The English files are the reference for messages.

Btw, if you know a language not listed above, you can also contribu

[2017-02-01 12:46] raul3k commented on #2419
If all translation files are under Resources / translations, pt_BR are already translated.
No need for more effort.

[2017-02-01 12:48] XWB commented on #2419
Thank you @raul3k

[2017-02-01 18:20] stof commented on #2419
@raul3k translations are there, but they are not uptodate. they still contain the 1.x messages. Some messages were updated in 2.x (in particular the resetting ones). So pt_BR still needs to be updated

[2017-02-01 19:45] XWB commented on #2419
https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2427

[2017-02-02 10:42] #1231 closed

[2017-02-02 11:03] AntoineTesson opened #2429 "Invalid CRSF TOKEN"
Hi since SF 3.2 and fosuserbundle beta1 i have sometimes  Invalid CRSF TOKEN when i'm trying to authenticate. I think its happen when i stay on the form long time with no actions.

How disable CRSF token  only on the authenticate form ? (or maybe change the configuration for this problem ? )

Thank's.

[2017-02-02 14:10] eduardoconceicao commented on #2419
@XWB Added some fixes to the `pt` translations in #2430

[2017-02-02 14:14] XWB commented on #2419
@eduardoconceicao :+1:

[2017-02-03 09:27] phpetra commented on #2429
@AntoineTesson You're probably running into a Symfony bug with the session path that some people seem to have in SF 3.x (as I did)
Have a look here as to some of the fixes: [CSRF token invalid](http://stackoverflow.com/questions/35208299/symfony-3-0-1-csrf-token-present-but-invalid)

Setting `save_path: ~` worked for me

[2017-02-03 09:53] AntoineTesson commented on #2429
Hi,
Tank's for this answer, i will try this "fix", i cant say if its works because i have only sometimes not always. And its strange because i save my data on the dbb, not on the disk.

    session:
        name: SESSID
        handler_id: session.handler.pdo
        cookie_lifetime: 259200
        gc_maxlifetime: 259200
        save_path: ~

[2017-02-03 10:09] homersimpsons opened #2431 "[Feature Request] Email / Username Blacklist"
**Describe the feature**: Add an easy to implement blacklist for Email and/or username

In FOSUserBundle there could be params: `username.blacklist`, `email.blacklist` etc...
Those fill with array of Regexp and if a Regexp match then the registration won't be allowed.

I've found [this request](https://github.com/FriendsOfSymfony/FOSUserBundle/issues/1450) then maybe I have to use validation contr

[2017-02-03 11:16] phpetra opened #2432 "Please put removal of locked field also in the Changelog"
I just found out (the hard way) about the removal of the `locked` field and other properties from the user model as described [here](https://github.com/FriendsOfSymfony/FOSUserBundle/blob/master/Upgrade.md#200-alpha3-to-200-beta1).

I was using an earlier version of dev-master with the fields still in it and was using the locked property to check whether users should be able to reset a password fo

[2017-02-03 13:45] lpitteloud opened #2433 "Composer update failed"
I got the following error when updating dependencies with composer earlier today :

`The service "fos_user.security.login_manager" has a dependency on a non-existent service "security.token_storage".`

I tried to downgrade both symfony/symfony or friendsofsymfony/user-bundle versions, but I still got the error.

How can I fix this ?

symfony/symfony actual version **3.2.2**
friendsofsymfony/user-b

[2017-02-03 14:12] xabbuh commented on #2433
Did you disable the SecurityBundle?

[2017-02-03 14:27] lpitteloud commented on #2433
Not at all...

[2017-02-03 14:30] xabbuh commented on #2433
Did you completely disable the security config then?

[2017-02-03 15:40] lpitteloud commented on #2433
Yes, but it didn't change a thing

[2017-02-03 15:45] xabbuh commented on #2433
I mean was it already disabled when you got this error?

[2017-02-03 15:47] lpitteloud commented on #2433
Oh sorry ! It was enabled when I got the error message

[2017-02-03 15:55] xabbuh commented on #2433
I fail to see why the `security.token_storage` service should be missing then.

[2017-02-03 16:23] stof commented on #2433
hmm, going back to a Symfony version before 2.6 ?

@lpitteloud make sure that SecurityBundle is enabled *and configured*. When the bundle is not configured, it won't enable its services

[2017-02-03 16:48] lpitteloud commented on #2433
I can't downgrade to Symfony < 3.1 because I'm using api-platform 2 on my project.
I configured providers, encoders, roles, role_hierarchy and acces_control keys into security.yml.

The weird part is that I just ran the command, I did not update my bundles

[2017-02-03 19:14] xabbuh commented on #2433
You could try to debug if the `SecurityExtension` class from the SecurityBundle is loading all the files. You could also try to disable all others third-party bundles in your kernel to make sure that the failure is not related to any of them.

[2017-02-04 16:51] SebTM commented on #2431
I think there is no need to add a specific feature for that as you are already able to achieve this by defining a own validation group and adding it to the configuration.

[code]
The groups "Registration" and "Default" are from FOSUserBundle you can leave it if you like the "basic"-validation provided there or just handle the complete validation with your custom group.

In your custom-group you ca

[2017-02-04 23:22] diriy commented on #2355
Doesn't work anything suggested above.
Symfony 3.1.10
I don't have any APC.
Cache cleared manually form the folder var/cache. Didn't help.
Need support.

[2017-02-04 23:57] rudirocha commented on #2355
@diriy do you use any custom cache? Did you change anything regarding caching on your application? Did you ran cache clear commands?

[2017-02-05 00:32] Jurigag commented on #2355
And what error exactly you have? Are you sure that you don't have perhaps somewhere in view access to this non-existing currently property?

[2017-02-05 01:54] diriy commented on #2355
@rudirocha no, I don't. It a small app and it doesn't require in any custom caching at this stage

@Jurigag it is the same error.
`[ReflectionException]
    Property FOS\UserBundle\Model\User::$locked does not exist   `
And I've also faced it during `composer update`.
`Updating friendsofsymfony/user-bundle dev-master (dc8e624 => a314d4a)`

[2017-02-05 11:57] Jurigag commented on #2355
`[ReflectionException] Property FOS\UserBundle\Model\User::$locked does not exist`

This for sure means you have someowhere view with locked property. I had same problem. Just look for `.locked` in your view files.

[2017-02-05 15:58] gmuehl opened #2435 "non-existent service "security.token_storage" revisited"
**Symfony FOSUserBundle versions**:

friendsofsymfony/user-bundle         dev-master a314d4a

**Description of the problem including expected versus actual behavior**:

 1. Install SonataAdminBundle
 2. Get FOSUserBundle Up & Running
 3. Remove SonataAdminBundle

**Provide logs (if relevant)**:

The service "fos_user.security.login_manager" has a dependency on a non-existent service "security.toke

[2017-02-06 10:22] stof commented on #2435
Well, SecurityBundle defines this ``security.token_storage``, and FOSUserBundle requires that the SecurityBundle is configured properly (it depends on it). So the service should be there.

Can you build a reproducing case that you could share with us, to allow debugging the issue ?

[2017-02-06 11:26] lpitteloud commented on #2433
Ok, fresh start this morning to finally understand what's going wrong.
And as usual, it was my code : I simply forgot to load security config for dev env...

Thank you for your time !

[2017-02-06 11:26] #2433 closed

[2017-02-06 13:48] gmuehl commented on #2435
Actually it is not that hard to reproduce:

Add to AppKernel.php

[code]
Right after that an Error occurs that there is no db_driver for fos_user, so add the Following to config.yml:

[code]

Ends up with error:

I have just updated to Symfony 3.2.3 btw. Everything else needed to use FOSUSerBundle is not configured at this point. I could remove the Comments (so that i have a full Configuration), b

[2017-02-06 13:57] gmuehl commented on #2435
Fun fact, added:

`$this->get('security.token_storage')->getToken()->getProviderKey();`

to the DefaultController which ends up with

So i guess the Service is not initialized.

[2017-02-06 15:28] gmuehl commented on #2435
Ok, what a mess, got it to work! After uninstalling SonataAdmin i had to

- wipe the whole Vendor-Dir
- Delete composer.lock
- reinstall FOSUSerBundle
- **make really sure that security.yml still gets imported in config.yml**

No Idea who removed it from config.yml, maybe Composer during Deinstallation. Looks like Security gets only initialized when security.yml is included (and does not say a wor

[2017-02-06 15:28] #2435 closed

[2017-02-06 16:45] stof commented on #2435
unless you have a composer plugin doing weird things, the security.yml import cannot disappear automaticall during deinstallation. The issue was more likely a human mistake when removing the sonata admin configuration from the config.yml (removing too much things).

SecurityBundle is indeed initialized only when it is configured (which is why I asked to ensure it was configured in the previous iss

[2017-02-07 15:27] XWB commented on #1905
https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2417

[2017-02-07 15:27] #1905 closed

[2017-02-08 16:12] XWB commented on #2432
https://github.com/FriendsOfSymfony/FOSUserBundle/commit/6a12083d0f6b53ca312021b15277d92be571cbe6

[2017-02-08 16:12] #2432 closed

[2017-02-09 00:09] jdbenito opened #2438 "Change Password screen shows a page with just the text "fos_user_change_password""
**Symfony FOSUserBundle versions**:
dev-master c0ba632

**Description of the problem including expected versus actual behavior**:
Loading the /profile/change-password route returns an empty that simply says "fos_user_change_password"

![screen shot 2017-02-08 at 4 51 21 pm](https://cloud.githubusercontent.com/assets/2699638/22763043/ac9bac9c-ee1f-11e6-956f-1558f30d547d.png)

**Describe the feature

[2017-02-10 09:11] PaddyLock commented on #2355
For me, as well as clearing doctrine and symfony caches, I also had to restart memcached

sudo /etc/init.d/memcached restart

[2017-02-10 13:46] rsukonovs opened #2439 "Can't override template in child bundle"
By changing ``bundle:directory:filename`` syntax to namespaced syntax with 'at' sybmol it is impossible to override template in child bundle.

Commit: https://github.com/FriendsOfSymfony/FOSUserBundle/commit/dd1fa8fbb6df2d6037c136cc2b29a568f250069e

As far as I understand now only way to override login template is placing it into app/resources directory or by extending controller.

Reference to do

[2017-02-10 14:51] mvrhov commented on #2439
This was supposed to be fixed in the symfony. And also in latest released versions of it.

[2017-02-11 14:49] kironet opened #2440 "Salt is empty and login manually"
Hello,

I have a two questions:

1) I've just installed FOSUserBundle, and checked user table. I'm seeing here "salt" column, but it's empty. I'm doing stn wrong that it's empty?

2) How could I login manually in controller? I want to send HTTPRequest from mobile app to get user details, but before that I want to authenticate user(compare recieved password with password in DB).

Thanks

[2017-02-11 14:58] mvrhov commented on #2440
1. Newest hashing algorithms e.g password_hash or hashed with crypt then the salt is embedded into the password itself.
2. For mobile app use something that most people use. OAUth.

[2017-02-11 15:47] kironet commented on #2440
Thanks,

but still, is it possible to login manually from controller?

[2017-02-11 18:37] mvrhov commented on #2440
For automatic login look at the password reset confirmation function.

[2017-02-13 10:40] ste93cry commented on #307
Maybe it's too late, but would it be possible for the 2.x version to move the default constraints group to a prefixed name? For example, the `Registration` group could be renamed `FOS_Registration`. This is because there is currently no way for Symfony to override the constraints in a child class, and the current group names imho are too common and general to be used by the bundle instead of the a

[2017-02-13 16:49] javiereguiluz opened #2441 "Consider adding GitHub Topics to this repository"
Dear bundle maintainer(s), if you want to make this bundle easier to discover and want to help us creating a stronger Symfony ecosystem, please consider adding some GitHub topics to this repository.

[The official Symfony recommendation](https://symfony.com/blog/standardizing-the-github-topics-for-symfony-repositories) is to add `php`, `symfony`, `bundle` and `symfony-bundle` topics ... and then,

[2017-02-13 16:54] stof commented on #2441
Please check the repo before opening such comment. Topics are here since the first day Github made them available:
![fosub_topics](https://cloud.githubusercontent.com/assets/439401/22893251/76dbc8b8-f215-11e6-935e-f385dd431a60.png)

[2017-02-13 16:54] #2441 closed

[2017-02-13 17:00] javiereguiluz commented on #2441
I'm sorry. I swear I didn't see these topics  🙈

[2017-02-13 21:34] JulienItard opened #2442 "PHP 7.1 A non-numeric value encountered"
Hi,

i'm trying to update my FOSUser bundle `dev-master` but I have error `A non-numeric value encountered`. I'm using the new PHP 7.1

Thanks
Julien

[2017-02-13 22:47] core23 opened #2443 "Drop support for outdated php version?"
The latest master branch / next major require at least php [5.5.9](https://github.com/FriendsOfSymfony/FOSUserBundle/blob/master/composer.json#L23), also it is unsupported. Is there a reason for it? Could we increase the min version to php 7?

[2017-02-13 22:49] core23 commented on #2443
Same question for phpunit 4.x

[2017-02-14 14:04] XWB commented on #2443
Well Symfony 3 supports PHP 5.5 so we decided to inherit the same settings.

https://github.com/symfony/symfony/blob/3.2/composer.json#L19

[2017-02-14 14:06] XWB commented on #2442
In what file did you encounter this error?

[2017-02-14 14:08] XWB commented on #2440
Have a look at the `AuthenticationListener`.

https://github.com/FriendsOfSymfony/FOSUserBundle/blob/master/EventListener/AuthenticationListener.php

[2017-02-14 14:08] XWB commented on #2439
What Symfony version are you using?

[2017-02-14 14:10] XWB commented on #2429
Closing as this seems not related to this bundle.

[2017-02-14 14:10] #2429 closed

[2017-02-14 14:31] JulienItard commented on #2442
![capture du 2017-02-14 15-31-17](https://cloud.githubusercontent.com/assets/1370893/22933074/a485b606-f2ca-11e6-83ac-12f35604d75e.png)

[2017-02-14 15:23] core23 commented on #2443
Symfony was released 2 years ago where there was an active php 5.5 support.

[2017-02-14 16:16] stof commented on #2443
PHPUnit 4.8 is here because of our support of PHP 5.5 (as PHPUnit 5 requires PHP 5.6+).

Regarding dropping support for PHP 5.5, I don't see a benefit here. We don't *need* any 5.6+ feature in our codebase, so keeping support for all versions supported by Symfony 3 is a valid argument IMO.

[2017-02-14 16:43] core23 commented on #2443
That's the actual point of view but can you guarantee this for the future? Maybe we need this in the near future and we'll be stucked because of supporting old (unsupported) versions.

An other problem is PHPunit. We need to write tests for PHPunit 4.8, because PHPunit 5.x won't run on [PHP 5.5](https://github.com/sebastianbergmann/phpunit/blob/5.1/composer.json#L25). So every contributor must wri

[2017-02-14 16:51] stof commented on #2442
this is an error in composer itself (which has been fixed in the snapshot version of composer already btw), not in the bundle code. Your screenshot is taken when executing composer, not when executing the bundle

[2017-02-14 16:51] #2442 closed

[2017-02-14 17:12] JulienItard commented on #2442
i'm running last Composer version and this bug appears only when I try to update FOSUser bundle.

[2017-02-14 17:22] stof commented on #2442
you are running the latest composer *stable* version. I said it is fixed in the *snapshot* version (i.e. the version updated at each commit in the master branch).

And for the bug, it appears when you update a package with modified files in it. The fact that this happens only for FOSUserBundle in your project is not something coming from us.

[2017-02-14 22:21] Omar1123 opened #2445 "Issue to authenticate when migrating from Symfony 3.0.* to 3.2.*"
Hello, I have recently migrated from Symfony 3.0. * To Symfony 3.2. * At the time of logging out and authenticating a user I get the following error.

The route is http://127.0.0.1:8000/es/login_check

When I update the fosuserbundle to the **dev-master** version I get the following error

I would like to know if these fields are no longer used or should I add something else to use them.

Best reg

[2017-02-14 23:19] ste93cry commented on #1978
any thoughts on this? /cc @stof

[2017-02-15 04:54] core23 commented on #2445
Please have a look at the upgrade guide: https://github.com/FriendsOfSymfony/FOSUserBundle/blob/master/Upgrade.md#200-alpha3-to-200-beta1

[2017-02-15 08:52] stof commented on #2440
your code will work. ``$encoder->isPasswordValid()`` ignores the salt argument anyway for encoders where the salt is embedded in the hash (bcrypt, and also the new argon2i algorithm coming in symfony 3.3)

[2017-02-15 08:53] stof commented on #2440
however, you should not check this in your controller. Authenticating incoming request should be processed by the Security system itself, instead of replacing it with a custom implementation and then trying to re-input it in the security system

[2017-02-15 09:38] stof commented on #2445
and make sure you clear your Doctrine metadata and query caches, so that Doctrine forgets about these old columns

[2017-02-15 09:40] stof commented on #2438
Well, if you don't register a listener using our extension point, that's expected.

Please show your ``fos_user`` config section in the config.yml file. And also the ``framework`` section.

[2017-02-15 11:10] stof commented on #2439
This issue has been fixed in Symfony 2.7.23, 2.8.16, 3.1.9, 3.2.2 and master (i.e. 3.3.x-dev).

If your Symfony version is older than that for the branch you are using, you need to update Symfony.

[2017-02-15 14:21] olegsv commented on #2419
updated Hebrew translation #2447

[2017-02-15 15:06] ethernal commented on #2402
The issue is probably related to: #2298

[2017-02-15 15:25] Omar1123 commented on #2445
I already cleaned my Doctrine Metadata with this commands

php bin\console doctrine:cache:clear-result --env=dev
php bin\console doctrine:cache:clear-query --env=dev
php bin\console doctrine:cache:clear-metadata --env=dev

But still not working

[2017-02-15 15:26] Omar1123 commented on #2445
I already cleaned my Doctrine Metadata with this commands

`php bin\console doctrine:cache:clear-result --env=dev`
`php bin\console doctrine:cache:clear-query --env=dev`
`php bin\console doctrine:cache:clear-metadata --env=dev`

But still not working